@keyframes vegPop {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.6);
  }
  70% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.05);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes popUp {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.7);
  }
  60% {
    transform: translateY(-6px) scale(1.05);
  }
  80% {
    transform: translateY(2px) scale(0.98);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
@keyframes charUp {
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-100vw);
  }
  10% {
    transform: translateX(-100vw);
  }
  80% {
    transform: translateX(0);
  }
  85% {
    transform: translateY(20px);
  }
  90% {
    transform: translateY(-5px);
  }
  95% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes loopslider-rl {
  0% {
    translate: 0%;
  }
  100% {
    translate: -100%;
  }
}
@keyframes loopslider-lr {
  0% {
    translate: -100%;
  }
  100% {
    translate: 0%;
  }
}
:root {
  --bg-primary:#fffef8;
  --bg-secondary:#f8fafa;
  --bg-overlay:#ffffffa9;
  --bg-accent:#ea773d66;
  --bg-muted:#88a890;
  --shadow-base:#06280627;
}

:root {
  --text-primary:#444943;
  --text-inverse:#fffefb;
  --text-title:#658C6F;
  --primary-00:#309E66;
  --highlight-00:#ef9365;
  --highlight-50p:#ef936580;
  --text-muted:#b5b5b5;
}

:root {
  --animation-no1-delay: 3s;
  --animation-no2-delay: 3.2s;
  --animation-no3-delay: 3.4s;
  --animation-no4-delay: 3.6s;
}

@font-face {
  font-family: "higuregothic";
  font-weight: 400;
  font-style: normal;
  src: url("../../../font/HigureGothic-Light.woff2") format("woff2");
}
@font-face {
  font-family: "aosagi";
  font-weight: 400;
  font-style: normal;
  src: url("../../../font/YDWaosagi.woff2") format("woff2");
}
@font-face {
  font-family: "utsukushi";
  font-weight: 400;
  font-style: normal;
  src: url("../../../font/UtsukushiFONT.woff2") format("woff2");
}
@font-face {
  font-family: "kokoro";
  font-weight: 400;
  font-style: normal;
  src: url("../../../font/Kokoro.woff2") format("woff2");
}
body {
  background-color: var(--bg-primary);
  min-width: 23.4375rem;
  height: auto;
  min-height: 43.75rem;
}

main {
  overflow-x: hidden;
}

article.article-box {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin: clamp(9.375rem, 16.0714285714rem + -28.5714285714vw, 12.5rem) auto 0;
}

img.category {
  width: 60vw;
  max-width: 62.5rem;
  opacity: 0;
  transition: 1.5s ease;
}
img.category.is-show {
  opacity: 0.5;
}

h2 {
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-family: "kokoro";
  font-size: clamp(1.5625rem, 1.3170347003rem + 0.9463722397vw, 2.5rem);
  letter-spacing: 0;
  line-height: clamp(2.5rem, 2.0908911672rem + 1.5772870662vw, 4.0625rem);
}
h2 span {
  font-family: "higuregothic";
  font-size: clamp(0.9375rem, 0.7738564669rem + 0.6309148265vw, 1.5625rem);
  letter-spacing: 0;
  margin-left: 0.3125rem;
}
h2 img {
  width: auto;
  height: clamp(1.25rem, 1.0372634069rem + 0.8201892744vw, 2.0625rem);
  margin-right: 0.625rem;
  transform: translateY(0.1875rem);
}

html {
  font-size: 16px;
}

* {
  color: var(--text-primary);
  font-family: "higuregothic";
  scroll-behavior: smooth;
  font-size: clamp(0.8125rem, 0.6465517241rem + 0.4827586207vw, 1.25rem);
  letter-spacing: 0.05em;
  line-height: clamp(1.25rem, 1.1314655172rem + 0.3448275862vw, 1.5625rem);
}

img, a {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.l-site-header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 900;
  opacity: 0;
  transform: translateX(100%);
  pointer-events: none;
  transition: 0.4s ease;
}
.l-site-header.is-show, .l-site-header.is-open, .is-open .l-site-header {
  opacity: 1;
  transform: translate(0, 0);
  pointer-events: auto;
}
.l-site-header {
  width: 100%;
}
.l-site-header.is-open .l-global-nav {
  border-left: dotted 0.25rem var(--primary-00);
  overflow-x: scroll;
}
.l-site-header.is-open .c-hamburger span:nth-child(1) {
  width: 3.75rem;
  transform: translateY(0.875rem) rotate(45deg);
}
.l-site-header.is-open .c-hamburger span:nth-child(2) {
  opacity: 0;
}
.l-site-header.is-open .c-hamburger span:nth-child(3) {
  width: 3.75rem;
  transform: translateY(-0.875rem) rotate(-45deg);
}
.l-site-header.is-open .c-hamburger span:nth-child(3) {
  top: 1.75rem;
  left: -0.625rem;
}
.l-site-header__inner {
  display: flex;
  justify-content: flex-end;
}

.l-global-nav {
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  transform: translateX(100%);
  pointer-events: none;
  transition: 0.4s ease;
}
.l-global-nav.is-show, .l-global-nav.is-open, .is-open .l-global-nav {
  opacity: 1;
  transform: translate(0, 0);
  pointer-events: auto;
}
.l-global-nav {
  height: 100vh;
  width: 31.25rem;
  padding: clamp(3.125rem, 2.4038461538rem + 3.0769230769vw, 6.25rem) 1.875rem 0;
  background-color: var(--bg-primary);
}
.l-global-nav__logo {
  width: 8.125rem;
  height: auto;
  margin: auto;
  display: block;
}

.l-nav__list {
  padding: 1.875rem 0;
}

.l-nav__item > .l-nav__link {
  font-family: "utsukushi";
  text-align: center;
  transition: 0.2s ease;
  margin: clamp(1.875rem, 1.5865384615rem + 1.2307692308vw, 3.125rem) 0;
  display: block;
}

.l-nav__sns {
  display: flex;
  justify-content: center;
}

.l-nav__sns-link img {
  height: clamp(1.25rem, 1.1057692308rem + 0.6153846154vw, 1.875rem);
  width: auto;
  margin: 0 1.25rem;
  transition: 0.2s ease;
}

@media (hover: hover) {
  .l-nav__item > .l-nav__link:hover {
    opacity: 0.5;
  }
  .l-nav__sns-link img:hover {
    opacity: 0.5;
  }
}
@media screen and (max-width: 768px) {
  .l-global-nav {
    width: 99vw;
  }
}
.l-loading {
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: var(--bg-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
.l-loading__inner {
  text-align: center;
}
.l-loading__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  margin-bottom: 2.5rem;
}
.l-loading__text img {
  height: 14.375rem;
  margin: 1.875rem;
}
.l-loading__text span {
  font-family: "higuregothic";
}
.l-loading__bar {
  width: 100vw;
  height: 0.125rem;
  overflow: hidden;
}
.l-loading__progress {
  display: block;
  width: 0%;
  height: 100%;
  background-color: var(--primary-00);
  transition: 1s ease;
}
.l-loading__count {
  margin-top: 3.125rem;
  font-size: 1.5625rem;
  font-family: "higuregothic";
}

@media screen and (max-width: 1024px) {
  .l-loading__text {
    writing-mode: vertical-rl;
    text-orientation: upright;
    flex-direction: row;
    margin-block: auto;
  }
  .l-loading__text img {
    height: 9.375rem;
  }
}
.l-fv {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  margin-inline: auto;
  transition: 0.3s ease;
}
.l-fv svg.fv-svg {
  width: 160%;
  position: absolute;
  top: 50%;
  left: 63%;
  transform: translate(-50%, -50%);
  z-index: 5;
  opacity: 0;
}
.l-fv svg.fv-svg.is-ready {
  opacity: 1;
  transition: 0.4s ease;
}

.l-fv__copy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 5%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  z-index: 9999;
}

.p-char {
  display: block;
  margin-inline: auto;
  opacity: 0;
  transform: translateY(20px);
  width: clamp(2.375rem, 0.6096059113rem + 7.5123152709vw, 10rem);
}
.p-char:nth-child(2) {
  margin-top: 35%;
}
.p-char.is-show {
  opacity: 1;
  transform: translateY(0);
  transition: 1s ease;
}

.l-top-logo {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.l-top-logo img {
  display: none;
}

@media screen and (max-width: 1980px) {
  .l-fv {
    height: clamp(46.875rem, 24.7382198953rem + 34.554973822vw, 67.5rem);
  }
}
@media screen and (max-width: 1024px) {
  .l-fv {
    height: clamp(50rem, 27.2870994941rem + 84.3170320405vw, 81.25rem);
  }
  .l-top-logo {
    top: 25%;
  }
  .l-top-logo img {
    display: block;
    width: clamp(11.25rem, 6.1535412262rem + 14.799154334vw, 15.625rem);
    margin: auto;
  }
  .l-fv__copy-items {
    width: 40%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }
  .p-char:nth-child(2) {
    margin-top: 0;
  }
  .l-fv__copy {
    top: 3%;
    left: 0;
    transform: translate(0, 0);
  }
}
@media screen and (max-width: 720px) {
  .l-fv {
    height: clamp(41.875rem, -73.1818181818rem + 490.9090909091vw, 58.75rem);
  }
}
@media screen and (max-width: 550px) {
  .l-top-logo img {
    width: 80%;
  }
  .p-char.is-show {
    min-width: initial;
  }
}
@media screen and (max-width: 390px) {
  .l-top-logo {
    top: 30%;
  }
  .l-fv__copy-items {
    width: 45%;
  }
}
@media screen and (max-width: 376px) {
  .l-top-logo {
    top: 27%;
  }
  .l-top-logo img {
    width: 80%;
  }
}
.c-fixed-link {
  position: fixed;
  right: 6px;
  bottom: 0;
  z-index: 1000;
  opacity: 0;
  transform: translateX(100%);
  pointer-events: none;
  transition: 0.4s ease;
}
.c-fixed-link.is-show, .c-fixed-link.is-open, .is-open .c-fixed-link {
  opacity: 1;
  transform: translate(0, 0);
  pointer-events: auto;
}
.c-fixed-link img {
  width: clamp(9.375rem, 7.2115384615rem + 9.2307692308vw, 18.75rem);
}
.c-fixed-link.is-show {
  pointer-events: auto;
}
.c-fixed-link.is-hide {
  transform: translateX(105%);
  pointer-events: none;
}

.c-hamburger {
  width: 3.75rem;
  height: 3.75rem;
  cursor: pointer;
  position: relative;
  top: 1.25rem;
  left: initial;
  right: 1.5rem;
  z-index: 1000;
  background: none;
  border: none;
}
.c-hamburger span {
  position: absolute;
  left: 0;
  display: block;
  width: 3.75rem;
  height: 1px;
  background-color: var(--primary-00);
  transition: 0.4s ease;
}
.c-hamburger span:nth-child(1) {
  width: 4.375rem;
  top: 0;
  left: -0.5625rem;
}
.c-hamburger span:nth-child(2) {
  width: 3.75rem;
  top: 0.875rem;
  left: 0;
}
.c-hamburger span:nth-child(3) {
  width: 3.125rem;
  top: 1.75rem;
  left: 0.625rem;
}

.c-slider {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.c-slider__inner {
  aspect-ratio: 841/598;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
}
.c-slider__inner.mask {
  mask-image: url("../../../images/fv/vector.svg");
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url("../../../images/fv/vector.svg");
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}
.c-slider__inner.mask .slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transform: scale(1);
  transition: opacity 1.5s ease, transform 8s ease;
  z-index: 1;
}
.c-slider__inner.mask .slide.is-active {
  opacity: 1;
  transform: scale(1.08);
}

@media screen and (max-width: 1024px) {
  .c-slider {
    width: 95%;
    top: 60%;
  }
}
@media screen and (max-width: 550px) {
  .c-slider {
    width: 140%;
  }
}
@media screen and (max-width: 390px) {
  .c-slider {
    top: 73%;
  }
}
@media screen and (max-width: 376px) {
  .c-slider {
    width: 120%;
    top: 65%;
  }
}
.c-member-slider {
  overflow: visible !important;
}
.c-member-slider .swiper-wrapper {
  height: auto;
  margin: 6.25rem auto 6.875rem;
}
.c-member-slider .swiper-slide {
  display: flex;
  justify-content: center;
  width: auto;
  margin: 0 clamp(3.75rem, -0.7041029207rem + 5.5632823366vw, 6.25rem);
  overflow: visible;
  opacity: 0.7;
  transform: scale(0.7);
  transition: 600ms ease;
}
.c-member-slider .swiper-slide-active {
  opacity: 1;
  transform: scale(1);
}
.c-member-slider .swiper-btn-prev,
.c-member-slider .swiper-btn-next {
  display: block;
  position: absolute;
  top: clamp(33.75rem, 31.6026096669rem + 4.4679122665vw, 37.1875rem);
  transform: translateY(-50%);
  width: clamp(2.5rem, 1.6346153846rem + 3.6923076923vw, 6.25rem);
  height: clamp(2.5rem, 1.6346153846rem + 3.6923076923vw, 6.25rem);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 300;
}
.c-member-slider .swiper-btn-prev::after,
.c-member-slider .swiper-btn-next::after {
  content: none;
}
.c-member-slider .swiper-btn-prev {
  left: 20%;
  background-image: url(../../../images/main-img/interviews/arrow-prev.svg);
  background-size: 100%;
}
.c-member-slider .swiper-btn-next {
  right: 20%;
  background-image: url(../../../images/main-img/interviews/arrow-next.svg);
  background-size: 100%;
}
.c-member-slider .swiper-pagination {
  position: relative;
  z-index: 100;
  margin: 0.3125rem auto clamp(9.375rem, 3.125rem + 10vw, 15.625rem);
  gap: 1.25rem;
  display: flex;
  justify-content: center;
}
.c-member-slider .swiper-pagination-bullet {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.25rem;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  border-radius: 0;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-member-slider .swiper-pagination-bullet-active {
  color: var(--highlight-00);
  border-bottom: solid 0.0625rem var(--highlight-00);
  background-color: var(--bg-primary);
  opacity: 1;
}

@media screen and (max-width: 1280px) {
  .c-member-slider .swiper-btn-prev {
    left: 3%;
  }
  .c-member-slider .swiper-btn-next {
    right: 3%;
  }
}
@media screen and (max-width: 768px) {
  .c-member-slider .swiper-btn-prev,
  .c-member-slider .swiper-btn-next {
    top: initial;
    bottom: clamp(-1.25rem, -0.3554389313rem + -3.8167938931vw, -2.1875rem);
  }
  .c-member-slider .swiper-wrapper {
    margin: 5rem auto clamp(1.25rem, -1.1354961832rem + 10.1781170483vw, 3.75rem);
  }
  .c-member-slider .swiper-slide {
    width: 100vw;
    margin: 0;
    flex-direction: column;
  }
}
.js-display {
  overflow: hidden;
}
.js-display > * {
  transform: translateY(120%);
  transition: 0.9s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.js-display.is-show > * {
  transform: translateY(0);
}

.js-split span {
  display: inline-block;
  line-height: 1.2;
  opacity: 0;
  transform: translateY(20px);
  filter: blur(6px);
}
.js-split.is-show span {
  animation: charUp 0.6s ease forwards;
  animation-delay: var(--delay);
}

.scroll-svg.is-show path {
  stroke-dashoffset: 0;
}

.svg-area {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.contents_inner {
  overflow-x: visible;
  position: relative;
}

.from-left {
  transform: translateX(-100vw);
}

.is-show .from-left {
  animation: slideIn 4s ease-out forwards;
}

.c-svg-wrap {
  position: relative;
  top: 50%;
  left: 0;
  transform: translateY(10%);
}

.c-svg-wrap, .roll-svg {
  pointer-events: none;
}

.c-member-card {
  width: clamp(18.75rem, 18.0288461538rem + 3.0769230769vw, 21.875rem);
  margin-bottom: 0.3125rem;
  padding: clamp(1.25rem, 1.1778846154rem + 0.3076923077vw, 1.5625rem);
  gap: 0.625rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  transition: 0.3s ease;
  border-radius: 20px;
  background-color: var(--card-color);
}
.c-member-card p {
  font-size: clamp(0.8125rem, 0.7836538462rem + 0.1230769231vw, 0.9375rem);
  color: var(--text-inverse);
  display: flex;
  align-items: flex-start;
}
.c-member-card__head {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.c-member-card__face img {
  display: block;
  height: clamp(4.6875rem, 4.4711538462rem + 0.9230769231vw, 5.625rem);
  position: absolute;
  top: clamp(2.25rem, 2.1201923077rem + 0.5538461538vw, 2.8125rem);
  left: clamp(13.625rem, 13.0625rem + 2.4vw, 16.0625rem);
  transform: translate(-50%, -50%);
  border-radius: 9999px;
}
.c-member-card__sns {
  position: absolute;
  top: clamp(3.75rem, 3.4615384615rem + 1.2307692308vw, 5rem);
  left: clamp(15.625rem, 15.0480769231rem + 2.4615384615vw, 18.125rem);
  transform: translate(-50%, -50%);
  width: clamp(1.6875rem, 1.6442307692rem + 0.1846153846vw, 1.875rem);
  height: clamp(1.6875rem, 1.6442307692rem + 0.1846153846vw, 1.875rem);
  border-radius: 9999px;
  background-color: var(--bg-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-member-card__sns img {
  width: clamp(1.75rem, 1.7211538462rem + 0.1230769231vw, 1.875rem);
  height: clamp(1.75rem, 1.7211538462rem + 0.1230769231vw, 1.875rem);
  padding: 0.4375rem;
  display: block;
}
.c-member-card__cap {
  display: inline-block;
  font-size: clamp(0.6875rem, 0.6586538462rem + 0.1230769231vw, 0.8125rem);
  line-height: clamp(1.125rem, 1.0961538462rem + 0.1230769231vw, 1.25rem);
  background-color: var(--bg-primary);
  color: var(--card-color);
  padding: 0rem 0.625rem 0.125rem;
  text-align: center;
  border-radius: 9999px;
  margin-right: 0.75rem;
}

p.c-member-card__farm {
  font-family: "kokoro";
  font-size: clamp(0.9375rem, 0.8942307692rem + 0.1846153846vw, 1.125rem);
  letter-spacing: -0.01rem;
  margin-bottom: 0.3125rem;
}

p.c-member-card__voice {
  background-color: var(--bg-primary);
  height: stretch;
  padding: clamp(0.3125rem, 0.2692307692rem + 0.1846153846vw, 0.5rem) clamp(0.5rem, 0.4711538462rem + 0.1230769231vw, 0.625rem);
  color: var(--text-primary);
  margin-top: 0.3125rem;
  border-radius: 10px;
}

.p-lines-flex {
  width: 30%;
  position: absolute;
  top: 90%;
  left: 85%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.p-lines-flex img.caw {
  width: 100%;
}

.p-vegetable {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  opacity: 0;
  animation: vegPop 0.5s ease forwards;
}

.p-pepper {
  width: clamp(5.625rem, 0.272943038rem + 8.3544303797vw, 15.9375rem);
  top: 10%;
  left: 2%;
  animation-delay: var(--animation-no1-delay);
}

.p-corn {
  width: clamp(8.125rem, 2.6107594937rem + 8.6075949367vw, 18.75rem);
  top: 5%;
  left: 90%;
  animation-delay: var(--animation-no2-delay);
}

.p-tomat {
  width: clamp(3.75rem, -0.1424050633rem + 6.0759493671vw, 11.25rem);
  top: 64%;
  left: initial;
  right: -11%;
  animation-delay: var(--animation-no3-delay);
}

.p-spinach {
  width: clamp(8.125rem, 0.1780063291rem + 12.4050632911vw, 23.4375rem);
  top: 85%;
  left: 3%;
  animation-delay: var(--animation-no4-delay);
}

@media screen and (max-width: 1024px) {
  .p-corn {
    display: none;
  }
  .p-pepper {
    width: clamp(5.625rem, 0.1645084567rem + 15.8562367865vw, 10.3125rem);
    top: 3%;
    left: 8%;
  }
  .p-tomat {
    width: clamp(4.0625rem, 0.4221723044rem + 10.5708245243vw, 7.1875rem);
    top: 21%;
    left: 92%;
  }
  .p-spinach {
    width: clamp(8.125rem, 0.1162790698rem + 23.2558139535vw, 15rem);
    left: 10%;
  }
}
@media screen and (max-width: 550px) {
  .p-lines-flex {
    left: 77%;
  }
  .p-lines-flex img.caw {
    width: 80%;
  }
  .p-pepper {
    width: clamp(4.5rem, -2.3303571429rem + 29.1428571429vw, 7.6875rem);
    top: 0;
    left: 23%;
  }
  .p-tomat {
    width: clamp(2.8125rem, -1.4732142857rem + 18.2857142857vw, 4.8125rem);
    left: 79%;
  }
  .p-spinach {
    width: clamp(7.0625rem, -3.6517857143rem + 45.7142857143vw, 12.0625rem);
    top: 104%;
    left: 27%;
  }
  .p-lines-flex {
    top: 100%;
  }
}
.p-about__lead {
  line-height: clamp(1.875rem, 0.5635245902rem + 2.0491803279vw, 3.125rem);
  text-align: center;
}
.p-about__lead span.en-font {
  font-size: larger;
}
.p-about__lead a {
  display: inline;
  color: var(--highlight-00);
}

.p-heart-svg {
  width: 100vw;
  height: auto;
  pointer-events: none;
}

.p-heart-svg path {
  stroke-dasharray: 8000;
  stroke-dashoffset: 8000;
  transition: stroke-dashoffset 5s ease;
}

.p-origin__title {
  font-size: clamp(1.25rem, 1.1057692308rem + 0.6153846154vw, 1.875rem);
  line-height: clamp(1.875rem, 1.7307692308rem + 0.6153846154vw, 2.5rem);
  margin: 3.75rem 0 clamp(1.25rem, 0.5929487179rem + 1.0256410256vw, 1.875rem);
  font-family: "kokoro";
  letter-spacing: 0;
  white-space: nowrap;
  text-align: center;
}

.p-pop-up {
  opacity: 0;
  transform: translateY(40px) scale(0.7);
}

.p-pop-up.is-show {
  animation: popUp 0.9s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

@media screen and (max-width: 1024px) {
  .l-origin__item .p-origin__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: var(--bg-overlay);
    padding: 0.1875rem 0.625rem;
    margin: 0;
    border-radius: 5px;
  }
  .p-about__lead {
    text-align: left;
  }
  .p-about__lead br {
    display: none;
  }
  .p-pop-up {
    transform: unset;
    opacity: 1;
  }
  .p-pop-up.is-show {
    animation: unset;
  }
}
.p-member-interview__title-text {
  display: inline-block;
  position: relative;
  font-family: "kokoro";
  font-size: clamp(1.5625rem, 1.3170347003rem + 0.9463722397vw, 2.5rem);
  letter-spacing: 0;
  line-height: 4.0625rem;
}

.p-heart-svg2 {
  width: clamp(9.375rem, 8.3653846154rem + 4.3076923077vw, 13.75rem);
  height: auto;
  position: absolute;
  top: 50%;
  left: 17%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.p-heart-svg2 path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
}
.p-heart-svg2.is-show path {
  transition: 4.5s ease;
  stroke-dashoffset: 0;
}

.p-member__farm,
.p-member__name,
.p-member__name-end,
.l-interview__body p,
[class*=p-tag--] {
  font-family: "kokoro";
  color: var(--text-inverse);
}

.p-member__farm {
  font-size: clamp(0.9375rem, 0.8076923077rem + 0.5538461538vw, 1.5rem);
}

.p-member__name {
  font-size: clamp(1.5rem, 1.2692307692rem + 0.9846153846vw, 2.5rem);
  letter-spacing: -0.3125rem;
  margin: clamp(0.625rem, 0.4807692308rem + 0.6153846154vw, 1.25rem) 0 clamp(1.25rem, 1.1057692308rem + 0.6153846154vw, 1.875rem);
  display: flex;
  align-items: baseline;
  gap: 0.1875rem;
}
.p-member__name-end {
  font-size: clamp(1.125rem, 0.9519230769rem + 0.7384615385vw, 1.875rem);
  letter-spacing: -0.3125rem;
}

p.p-member__intro {
  font-family: "higuregothic";
  font-size: clamp(0.8125rem, 0.7403846154rem + 0.3076923077vw, 1.125rem);
  line-height: clamp(1.625rem, 1.4807692308rem + 0.6153846154vw, 2.25rem);
}

[class*=p-tag--] {
  position: absolute;
  background-color: var(--bg-muted);
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: clamp(1.125rem, 0.6564784728rem + 0.9748172218vw, 1.875rem);
  padding: 0.625rem 0.3125rem;
  border-radius: 5px;
}

.p-tag--01a {
  top: -1.875rem;
  left: clamp(19.0625rem, 16.4075446791rem + 5.5239642567vw, 23.3125rem);
}

.p-tag--01b {
  top: 1.875rem;
  left: clamp(15.9375rem, 13.5948923639rem + 4.8740861089vw, 19.6875rem);
}

.p-tag--02a {
  top: -1.875rem;
  right: clamp(16.25rem, 13.5169577579rem + 5.6864337937vw, 20.625rem);
}

.p-tag--02b {
  top: 1.25rem;
  right: clamp(19.375rem, 16.4467404549rem + 6.0926076361vw, 24.0625rem);
}

.p-tag--03a {
  top: -1.875rem;
  left: clamp(4.0625rem, 3.476848091rem + 1.2185215272vw, 5rem);
}

.p-tag--03b {
  top: 6.25rem;
  left: clamp(0.9375rem, 0.547065394rem + 0.8123476848vw, 1.5625rem);
}

.p-tag--04a {
  top: -1.875rem;
  left: clamp(3.75rem, 3.554782697rem + 0.4061738424vw, 4.0625rem);
}

.p-tag--04b {
  top: 1.875rem;
  left: 0.625rem;
}

.p-member__face {
  width: clamp(23.125rem, 20.0015231519rem + 6.4987814785vw, 28.125rem);
  height: clamp(23.125rem, 20.0015231519rem + 6.4987814785vw, 28.125rem);
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.p-member__face img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-member__sns {
  width: 2.1875rem;
  height: 2.1875rem;
  margin: auto;
  background-color: var(--bg-primary);
  border-radius: 9999px;
  position: absolute;
  bottom: 0.625rem;
  right: 0.625rem;
}
.p-member__sns img {
  width: auto;
  height: 1.25rem;
  margin: 0.5rem;
}

.p-comment01 {
  transform: translate(0, 6.25rem);
}

.p-comment02 {
  transform: translate(0, 6.25rem);
}

.p-comment03 {
  transform: translate(0, 3.75rem);
}

.p-comment04 {
  transform: translate(0, 2.5rem);
}

@media screen and (max-width: 768px) {
  .p-member__face {
    width: 100%;
    height: clamp(18.75rem, 11.9565217391rem + 28.9855072464vw, 25rem);
    border-radius: 0;
  }
  .p-comment01, .p-comment02, .p-comment03, .p-comment04 {
    transform: initial;
    border-radius: 0;
  }
  .p-member__name {
    letter-spacing: -0.05rem;
  }
  [class*=p-tag--] {
    font-size: clamp(1.125rem, 0.7671755725rem + 1.5267175573vw, 1.5rem);
  }
  .p-tag--01a {
    top: -1.25rem;
    left: clamp(18.75rem, -2.7194656489rem + 91.6030534351vw, 41.25rem);
  }
  .p-tag--01b {
    top: 1.875rem;
    left: clamp(15.9375rem, -5.233778626rem + 90.3307888041vw, 38.125rem);
  }
  .p-tag--02a {
    top: -1.25rem;
    right: clamp(16.5625rem, -3.7142175573rem + 86.5139949109vw, 37.8125rem);
  }
  .p-tag--02b {
    top: 1.25rem;
    right: clamp(19.375rem, -1.1999045802rem + 87.786259542vw, 40.9375rem);
  }
  .p-tag--03a {
    top: -1.25rem;
    left: clamp(3.75rem, 2.8554389313rem + 3.8167938931vw, 4.6875rem);
  }
  .p-tag--03b {
    top: 3.125rem;
    left: clamp(0.9375rem, 0.3411259542rem + 2.5445292621vw, 1.5625rem);
  }
  .p-tag--04a {
    top: -1.25rem;
    left: clamp(4.6875rem, 3.1965648855rem + 6.3613231552vw, 6.25rem);
  }
  .p-tag--04b {
    top: 1.25rem;
    left: clamp(1.875rem, 0.6822519084rem + 5.0890585242vw, 3.125rem);
  }
}
.p-member-list__lead {
  margin: clamp(1.875rem, 0rem + 3vw, 3.75rem) auto clamp(1.25rem, -0.625rem + 3vw, 3.125rem);
  text-align: center;
  padding: 0 1.875rem;
}

@media screen and (max-width: 720px) {
  .p-member-list__lead {
    text-align: left;
  }
}
.p-faq__title {
  position: relative;
  display: flex;
  align-items: baseline;
  margin: 6.25rem auto clamp(1.875rem, 1.4423076923rem + 1.8461538462vw, 3.75rem);
}
.p-faq__title-decoration {
  position: relative;
}
.p-faq__title-decoration img {
  width: auto;
  height: clamp(3.125rem, 2.6923076923rem + 1.8461538462vw, 5rem);
  position: absolute;
  top: 0;
  left: 30%;
  transform: translate(-50%, -50%);
}
.p-faq__title span.initials {
  font-size: clamp(2.1875rem, 1.9711538462rem + 0.9230769231vw, 3.125rem);
  font-family: "kokoro";
  color: var(--text-title);
}
.p-faq__title span.en-title {
  font-size: clamp(1.5625rem, 1.3170347003rem + 0.9463722397vw, 2.5rem);
  letter-spacing: 0;
  margin-left: 0;
  color: var(--text-primary);
  font-family: "kokoro";
  margin-left: 0;
}
.p-faq__title span.restore {
  font-size: clamp(0.9375rem, 0.7738564669rem + 0.6309148265vw, 1.5625rem);
  letter-spacing: 0;
  color: var(--text-primary);
  font-family: "higuregothic";
}

.p-faq__svg {
  width: clamp(6.25rem, 5.5288461538rem + 3.0769230769vw, 9.375rem);
}
.p-faq__svg path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
}
.p-faq__svg.is-show path {
  transition: 4.5s ease;
  stroke-dashoffset: 0;
}

.p-faq__question {
  cursor: pointer;
}
.p-faq__question.is-active {
  font-weight: 700;
  color: var(--text-inverse);
  background-color: var(--highlight-00);
}

.p-faq__answer {
  display: none;
}
.p-faq__answer.is-show {
  display: flex;
  align-self: center;
  justify-content: center;
}

.p-activity__list {
  margin-top: clamp(1.875rem, 1.4423076923rem + 1.8461538462vw, 3.75rem);
}

.p-activity__detail {
  padding-bottom: 5px;
  border-bottom: solid 0.0625rem var(--primary-00);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-activity__date {
  font-size: clamp(0.6875rem, 0.6298076923rem + 0.2461538462vw, 0.9375rem);
  font-weight: 700;
  margin-top: 20px;
  white-space: nowrap;
  color: var(--primary-00);
}
.p-activity__date--soon {
  color: var(--highlight-00);
}

.p-activity__detail--soon {
  border-bottom: solid 0.0625rem var(--highlight-00);
}

.p-activity__insta a {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.3s ease;
}
.p-activity__insta a span {
  font-size: 0.8125rem;
  font-weight: 700;
  transition: 0.3s ease;
}
.p-activity__insta a img {
  width: auto;
  height: clamp(0.9375rem, 0.8451086957rem + 0.1739130435vw, 1.0625rem);
  color: var(--text-inverse);
  transition: 0.3s ease;
}

.p-activity__toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  margin: 2.5rem auto;
}
.p-activity__toggle .p-activity__toggle-label {
  font-size: clamp(0.8125rem, 0.7836538462rem + 0.1230769231vw, 0.9375rem);
  font-family: "utsukushi";
}
.p-activity__toggle-icon, .p-activity__toggle-label {
  transition: 0.3s ease;
}

@media (hover: hover) {
  .p-activity__insta:hover {
    opacity: 0.5;
  }
}
@media screen and (max-width: 1024px) {
  .p-activity__detail {
    align-items: end;
  }
  .p-activity__insta a span {
    display: none;
  }
  .p-activity__insta a img {
    margin-left: 20px;
  }
}
.l-about__intro {
  width: 100%;
  margin: 0 auto;
}

.l-about__visual {
  position: relative;
  width: 100%;
  padding: 0 1.875rem;
}
.l-about__visual img {
  width: clamp(9.375rem, 6.5625rem + 9vw, 17.8125rem);
  margin: clamp(3.125rem, 1.1270491803rem + 4.0983606557vw, 6.25rem) auto;
}

.l-about__panels {
  margin: clamp(5rem, 3.2692307692rem + 7.3846153846vw, 12.5rem) auto;
  display: flex;
  flex-direction: column;
}

.l-about__panel {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  gap: clamp(1.25rem, 0.0961538462rem + 4.9230769231vw, 6.25rem);
}
.l-about__panel-grp {
  position: relative;
}
.l-about__panel-txt {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  gap: 1.25rem;
  z-index: 1;
}
.l-about__panel-txt p {
  width: fit-content;
  writing-mode: vertical-rl;
  background-color: var(--bg-overlay);
  padding: 0.625rem 0.3375rem;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}
.l-about__panel-txt p span {
  text-orientation: upright;
}
.l-about__panel-img {
  width: clamp(26.6875rem, 8.75rem + 28vw, 43.75rem);
  display: block;
  border-radius: 10px;
}

.l-about__panel--01 .l-about__panel-txt p:nth-child(2),
.l-about__panel--02 .l-about__panel-txt p:nth-child(2) {
  margin-top: 0.9375rem;
}
.l-about__panel--01 .l-about__panel-txt p:nth-child(3),
.l-about__panel--02 .l-about__panel-txt p:nth-child(3) {
  margin-top: 1.875rem;
}

.l-about__panel-grp--l .l-about__panel-txt {
  top: 1.25rem;
  right: clamp(11.25rem, 2.7083333333rem + 13.3333333333vw, 19.375rem);
}

.l-about__panel-grp--r {
  margin-top: 5rem;
}
.l-about__panel-grp--r .l-about__panel-txt {
  top: 0rem;
  left: clamp(10.625rem, 0.1121794872rem + 16.4102564103vw, 20.625rem);
}

.l-about__panel--02 {
  align-items: center;
}
.l-about__panel--02 .l-about__panel-txt {
  position: static;
}

.l-emphasis span {
  font-size: larger;
}

@media screen and (max-width: 1024px) {
  .l-about__panel {
    display: initial;
  }
  .l-about__panel-txt {
    display: inline;
  }
  .l-about__panel-txt p {
    writing-mode: initial;
    padding: 0.1875rem 0.3125rem;
    letter-spacing: 0;
  }
  .l-about__panel-img {
    width: clamp(16.875rem, 8.5689522342rem + 35.4391371341vw, 31.25rem);
  }
  .l-about__panel-grp--l .l-about__panel-img {
    margin-right: auto;
  }
  .l-about__panel-grp--l .l-about__panel-txt {
    top: 6.25rem;
    right: 0;
  }
  .l-about__panel-grp--r {
    margin-top: clamp(1.875rem, 0.0693374422rem + 7.7041602465vw, 5rem);
  }
  .l-about__panel-grp--r .l-about__panel-img {
    margin-left: auto;
  }
  .l-about__panel-grp--r .l-about__panel-txt {
    top: initial;
    bottom: 0.3125rem;
    left: 0;
  }
  .l-about__panel--01 {
    width: 100%;
    padding: 0 1.875rem;
  }
  .l-about__panel--01 .l-about__panel-txt p:nth-child(2) {
    margin-top: 0.3125rem;
  }
  .l-about__panel--02 .l-about__panel-img {
    margin: 1.25rem auto;
  }
  .l-about__panel--02 .l-about__panel-txt p {
    margin: 0 auto;
  }
}
.l-origin__items {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: clamp(59.375rem, 23.2371794872rem + 56.4102564103vw, 93.75rem);
  margin: auto;
  position: relative;
}

.l-origin__img {
  width: clamp(15.625rem, 12.3397435897rem + 5.1282051282vw, 18.75rem);
  height: clamp(15.625rem, 12.3397435897rem + 5.1282051282vw, 18.75rem);
  overflow: hidden;
  border-radius: 10px;
}
.l-origin__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.l-separator {
  transform: translateY(clamp(13.4375rem, 10.8092948718rem + 4.1025641026vw, 15.9375rem));
}

.l-origin__item.p-pop-up.is-show:nth-of-type(1) {
  animation-delay: 0.1s;
}

.l-origin__item.p-pop-up.is-show:nth-of-type(2) {
  animation-delay: 0.4s;
}

.l-origin__item.p-pop-up.is-show:nth-of-type(3) {
  animation-delay: 0.7s;
}

@media screen and (max-width: 1024px) {
  .l-origin__items {
    display: block;
    width: 100%;
    margin: 3.75rem 0 6.25rem;
  }
  .l-origin__img {
    width: 100%;
    height: 18.75rem;
    border-radius: 0;
  }
  .l-origin__item {
    position: relative;
  }
  .l-origin__item.js-display {
    transform: unset;
  }
  .l-separator {
    position: absolute;
    top: 33.4%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .l-separator.separat-under {
    top: 37.5rem;
  }
  .l-separator svg path {
    fill: var(--text-inverse);
  }
}
.l-interview {
  width: 100%;
}
.l-interview__item {
  display: flex;
  flex-direction: row-reverse;
}
.l-interview__item--reverse {
  flex-direction: row;
}
.l-interview__body {
  width: clamp(21.875rem, 17.9706539399rem + 8.1234768481vw, 28.125rem);
  height: fit-content;
  padding: 1.875rem 2.5rem;
  background-color: var(--bg-muted);
  border-radius: 10px;
  position: relative;
  z-index: -1;
}
.l-interview__image {
  position: relative;
}
.l-interview__item--01 .p-member__name {
  margin: 1.25rem 0.25rem 1.875rem -0.25rem;
}

@media screen and (max-width: 768px) {
  .l-interview__image {
    width: 100%;
  }
  .l-interview__body {
    width: 100%;
    height: auto;
    border-radius: 0;
    padding: 1.875rem;
  }
}
.l-member-list {
  margin: 0 0 clamp(9.375rem, 3.125rem + 10vw, 15.625rem);
  position: relative;
}
.l-member-list__slider {
  display: flex;
  overflow-x: hidden;
}
.l-member-list__slider--rl {
  display: flex;
  animation: loopslider-rl 40s linear infinite;
}
.l-member-list__slider--lr {
  display: flex;
  animation: loopslider-lr 40s linear infinite;
}
.l-member-list__row {
  display: flex;
  flex: wrap;
  justify-content: center;
  gap: 0.3125rem;
  margin-right: 0.3125rem;
}

.l-faq {
  margin: 0 auto;
  padding: 0 1.875rem;
  max-width: 81.25rem;
  width: 100%;
}

.l-faq__questions {
  padding: 3.75rem 0;
  border-radius: 10px;
}
.l-faq__questions ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.l-faq__questions li {
  margin: 0.625rem 1.875rem;
  padding: 0.625rem 0.9375rem;
  color: var(--text-primary);
  border: solid 0.0625rem var(--highlight-00);
  border-radius: 20px;
  transition: 0.3s ease;
}

.l-faq__answers ul {
  padding: 1.25rem 2.5rem;
  background-color: var(--bg-muted);
  border-radius: 20px;
  display: flex;
  align-self: center;
  justify-content: center;
}
.l-faq__answers li {
  color: var(--text-inverse);
}

@media (hover: hover) {
  .l-faq__questions li:hover {
    background-color: var(--highlight-50p);
  }
}
@media screen and (max-width: 768px) {
  .l-faq__questions {
    padding: 0;
  }
  .l-faq__questions ul {
    display: block;
    padding: 0;
    -webkit-overflow-scrollbar: touch;
  }
  .l-faq__questions ul::-webkit-scrollbar {
    width: 0.1875rem;
  }
  .l-faq__questions ul::-webkit-scrollbar-thumb {
    background-color: var(--bg-muted);
    border-radius: 10px;
  }
  .l-faq__questions li {
    margin: 0 auto;
  }
  .l-faq__answers ul {
    border: solid 0.0625rem var(--main-bg-color);
  }
}
.l-activity__inner {
  width: 100%;
  padding: 1.875rem;
  max-width: 81.25rem;
  margin: 0 auto;
}

.l-activity__accordion {
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease;
}
.l-activity__accordion.is-open {
  max-height: 125rem;
}

/*# sourceMappingURL=style.css.map */
