@font-face {
  font-family: "higuregothic";
  font-weight: 400;
  font-style: normal;
  src: url("../../font/HigureGothic-Light.woff2") format("woff2");
}
@font-face {
  font-family: "aosagi";
  font-weight: 400;
  font-style: normal;
  src: url("../../font/YDWaosagi.woff2") format("woff2");
}
@font-face {
  font-family: "utsukushi";
  font-weight: 400;
  font-style: normal;
  src: url("../../font/UtsukushiFONT.woff2") format("woff2");
}
@font-face {
  font-family: "kokoro";
  font-weight: 400;
  font-style: normal;
  src: url("../../font/Kokoro.woff2") format("woff2");
}
body {
  background-color: #fffef8;
  min-width: 375px;
  min-height: 370px;
}

main {
  overflow-x: hidden;
}

article.article-box {
  position: relative;
  width: 100%;
  margin: 400px 0 100px;
}

img.category {
  width: 890px;
  position: absolute;
  top: -230px;
  left: 25px;
  opacity: 0;
  transition: 1.5s;
}

img.category.is-show {
  opacity: 1;
}

* {
  color: var(--main-color);
  text-decoration: none;
  font-family: "higuregothic";
  scroll-behavior: smooth;
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 25px;
}

img, a {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

.h-site-header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  transform: translateY(-100%);
  transition: 0.4s ease;
}
.h-site-header.is-show {
  transform: translateY(0);
}
.h-site-header.is-open .h-global-nav {
  transform: translateX(0);
  border-left: dotted 4px #309E66;
  overflow-x: scroll;
}
.h-site-header.is-open .h-hamburger span:nth-child(1) {
  width: 60px;
  transform: translateY(14px) rotate(45deg);
}
.h-site-header.is-open .h-hamburger span:nth-child(2) {
  opacity: 0;
}
.h-site-header.is-open .h-hamburger span:nth-child(3) {
  width: 60px;
  top: 28px;
  left: -10px;
  transform: translateY(-14px) rotate(-45deg);
}

.h-inner {
  display: flex;
  justify-content: flex-end;
}

.h-global-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100vh;
  background-color: #fffef8;
  transform: translateX(100%);
  transition: 0.4s ease;
  padding-top: 100px;
}

img.h-logo-in-navmenu {
  width: 130px;
  margin: auto;
}

.has-child a {
  font-size: 20px;
  color: #309E66;
  font-family: "utsukushi";
  transition: 0.2s ease;
}

.h-sub-nav a {
  color: #444943;
  font-family: "higuregothic";
  font-size: 15px;
  margin-bottom: 10px;
}
.h-sub-nav li {
  position: relative;
}
.h-sub-nav li a {
  margin-bottom: 7px;
  margin-left: 40px;
  transition: 0.2s ease;
}
.h-sub-nav li a::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #658C6F;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: 0.3s ease;
}

.h-category-menu {
  margin: 35px 0 20px;
  position: relative;
}

a.h-go-top {
  color: #444943;
  font-size: 15px;
}

.h-nav-link-insta img {
  height: 40px;
  width: auto;
  margin-right: 30px;
}

.h-nav-link-facebook {
  height: 40px;
  width: auto;
}

.h-sns-in-menu {
  position: relative;
}
.h-sns-in-menu img {
  height: 30px;
  margin: 28px;
}

.h-sns_innerflex {
  display: flex;
}

@media (hover: hover) {
  .h-has-child a:hover {
    opacity: 0.5;
  }
  .h-sub-nav li a:hover {
    color: #658C6F;
  }
  .h-sub-nav li:hover a::before {
    width: 30px;
    height: 1px;
  }
}
.h-nav-list {
  padding: 0 30px;
}

@media screen and (max-width: 768px) {
  .h-global-nav {
    width: 99vw;
    padding-top: 45px;
  }
}
@media screen and (max-width: 768px) {
  .h-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 360px) {
  img.h-logo-in-navmenu {
    width: 100px;
  }
  .h-global-nav {
    padding-top: 19px;
  }
  .h-category-menu {
    margin: 15px 0 3px;
  }
  .h-has-child a {
    font-size: 15px;
  }
  .h-sub-nav li a {
    margin-bottom: 0;
    font-size: 13px;
  }
  .h-sub-nav li a {
    line-height: 2em;
  }
}
.l-loading {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  inset: 0;
  background-color: #fffef8;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.l-loading .l-load-inner {
  text-align: center;
}
.l-loading .l-load-inner .l-load-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 40px;
}
.l-loading .l-load-inner .l-load-text img {
  height: 230px;
  margin: 30px;
}
.l-loading .l-load-inner .l-load-text span {
  font-family: "higuregothic";
}
.l-loading .l-load-inner .l-load-bar {
  width: 100vw;
  height: 2px;
  overflow: hidden;
}
.l-loading .l-load-inner .l-load-bar .l-load-progress {
  display: block;
  width: 0%;
  height: 100%;
  background-color: #309E66;
  transition: 0.3s ease;
}
.l-loading .l-load-inner .l-load-count {
  margin-top: 50px;
  font-size: 25px;
  font-family: "higuregothic";
}

@media screen and (max-width: 1000px) {
  .l-loading .l-load-inner .l-load-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
    flex-direction: row;
    margin: 0 auto;
  }
  .l-loading .l-load-inner .l-load-text img {
    height: 150px;
  }
}
.l-fv {
  width: 100%;
  position: relative;
  transition: 0.3s ease;
}
.l-fv svg.fv-svg {
  width: 2345px;
  position: absolute;
  top: 52%;
  left: 63%;
  transform: translate(-50%, -50%);
  z-index: 5;
  opacity: 0;
  transition: 0.4s ease;
}
.l-fv svg.fv-svg.is-ready {
  opacity: 1;
}

.copy_flex {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 3%);
  z-index: 1;
  width: 100%;
  padding: 0 2%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  z-index: 9999;
}
.copy_flex__items img {
  width: 165px;
}
.copy_flex__items img:nth-child(2) {
  margin-top: 30%;
}

.c-fixed-link {
  position: fixed;
  bottom: 0;
  right: 6px;
  z-index: 100;
  opacity: 0;
  transform: translateX(100%);
  pointer-events: none;
  transition: 0.4s ease;
  width: 250px;
  height: 170px;
  background-image: url(../../../images/fv/caw.webp);
  background-size: 100%;
  background-position: left top;
  background-repeat: no-repeat;
}
.c-fixed-link.is-show {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}
.c-fixed-link.is-show img {
  opacity: 1;
  right: 6px;
}
.c-fixed-link.is-hide {
  opacity: 0;
  pointer-events: none;
}
.c-fixed-link.is-hide img {
  opacity: 0;
  right: -300px;
  bottom: -5%;
}
.c-fixed-link img {
  position: fixed;
  bottom: -25px;
  right: -300px;
  z-index: 9998;
  width: 220px;
  opacity: 0;
  transition: 0.4s ease;
}

@media screen and (max-width: 1000px) {
  .c-fixed-link {
    width: 150px;
    height: 100px img;
    height-width: 190px;
  }
}
.h-hamburger {
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: relative;
  top: 20px;
  right: 24px;
  z-index: 1100;
  background: none;
  border: none;
}
.h-hamburger span {
  position: absolute;
  left: 0;
  width: 60px;
  height: 1px;
  background-color: #309E66;
  transition: 0.4s ease;
}
.h-hamburger span:nth-child(1) {
  top: 0;
  left: -9px;
  width: 70px;
}
.h-hamburger span:nth-child(2) {
  top: 14px;
  width: 60px;
}
.h-hamburger span:nth-child(3) {
  top: 28px;
  left: 10px;
  width: 50px;
}

/*# sourceMappingURL=style.css.map */
