// headder

$transition-bace: .4s ease;
$transition-early: .2s ease;
$transition-slow: .3s ease;


.site-header{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 1000;
	transform: translateY(-100%);
	transition: $transition-bace;

	&.is-show{
		transform: translateY(0);
	}

	&.is-open{
		.global-nav{
			transform: translateX(0);
			border-left: dotted 4px var(--accent-green-color);
		}
		
		.hamburger span{
			&:nth-child(1){
				width: 60px;
				transform: translateY(14px) rotate(45deg);
			}
			&:nth-child(2){
				opacity: 0;
			}
			&:nth-child(3){
				width: 60px;
				top: 28px;
				left: -10px;
				transform: translateY(-14px) rotate(-45deg);
			}
		}
	}
}
.header-inner{
	display: flex;
	justify-content: flex-end;
}
.hamburger{
	width: 60px;
	height: 60px;
	cursor: pointer;
	position: relative;
	top: 20px;
	right: 24px;
	z-index: 1100;
	background: none;
	border: none;

	span{
		position: absolute;
		left: 0;
		width: 60px;
		height: 1px;
		background-color: var(--accent-green-color);
		transition: $transition-bace;

		&:nth-child(1){
			top: 0;
			left: -9px;
			width: 70px;
		}
		&:nth-child(2){
			top: 14px;
			width: 60px;
		}
		&:nth-child(3){
			top: 28px;
			left: 10px;
			width: 50px;
		}
	}

	.global-nav{
		position: fixed;
		top: 0;
		right: 0;
		width: 350px;
		height: 100vh;
		background-color: var(--main-bg-color);
		transform: translateX(100%);
		transition: $transition-bace;
		padding-top: 100px;
	}
}

img.logo-in-navmenu{
	width: 130px;
	margin: auto;
}

.nav-list{
	padding: 0 30px;
}

.has-child{
	a{
		font-size: 20px;
		color: var(--accent-green-color);
		font-family: 'utsukushi';
		transition:  $transition-early;
	}
}

.sub-nav{
	a{
		color: var(--main-color);
		font-family: 'higuregothic';
		font-size: 15px;
		margin-bottom: 10px;
	}

	li{
		position:  relative;

		a{
			margin-bottom: 7px;
			margin-left: 40px;
			transition: $transition-early;

			&::before{
				content: '';
				width: 5px;
				height: 5px;
				border-radius: 5px;
				background-color: var(--title-color);
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				transition: $transition-slow;
			}
		}
	}
}

.category-menu{
	margin: 35px 0 20px;
	position: relative;
}

a.go-top{
	color:var(--main-color);
	font-size:15px;
}

.nav-link-insta img,
.nav-link-facebook{
	height:40px;
	width:auto
}