@use "../abstracts/index" as *;
@use "../object/index" as *;

.l-about__intro{
	width: 100%;
	margin: 0 auto;
}

.l-about__visual{
	position: relative;
	width: 100%;
	padding: 0 to-rem(30);

	img{
		width:  fluid( 150, 285, 500, 2000);
		margin: fluid( 50, 100, 780, 2000) auto;
	}
}

.l-about__panels{
	margin: fluid(80, 200, 375, 2000) auto;
	display: flex;
	flex-direction: column;
}

.l-about__panel{
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: flex-start;
	gap: fluid(20, 100, 375, 2000);

	&-grp{
		position: relative;
	}

	&-txt{
		position: absolute;
		display: flex;
		flex-direction: row-reverse;
		align-items: flex-start;
		gap: to-rem(20);
		z-index: 1;

		& p{
			width: fit-content;
			writing-mode: vertical-rl;
			background-color: var(--bg-overlay);
			padding: to-rem(10) to-rem(5.4);
			border-radius: $radius-sm;
			position: relative;
			z-index: 1;

			span{
				text-orientation: upright;
			}
		}
	}

	&-img{
		width: fluid(427, 700, 1025, 2000);
		display: block;
		border-radius: $radius-md;
	}
}

.l-about__panel--01 .l-about__panel-txt,
.l-about__panel--02 .l-about__panel-txt{
	& p:nth-child(2){ margin-top: to-rem(15); }
	& p:nth-child(3){ margin-top: to-rem(30); }
}

.l-about__panel-grp--l .l-about__panel-txt{
	top: to-rem(20);
	right: fluid( 180, 310, 1025, 2000);
}

.l-about__panel-grp--r{
	margin-top: to-rem(80);

	.l-about__panel-txt{
		top: to-rem(0);
		left: fluid( 170, 330, 1025, 2000);
	}
}

.l-about__panel--02{
	align-items: center;

	.l-about__panel-txt{
		position: static;
	}
}

.l-emphasis span{
	font-size: larger;
}

@include media(mb){
	.l-about__panel{
		display: initial;

		&-txt{
			display: inline;
			
			p{
				writing-mode: initial;
				padding: to-rem(3) to-rem(5);
				letter-spacing: 0;
			}
		}

		&-img{
			width: fluid(270, 500, 375, 1024);
		}
	}

	.l-about__panel-grp--l{
		.l-about__panel-img{
			margin-right: auto;
		}

		.l-about__panel-txt{
			top: to-rem(100);
			right: 0;
		}
	}

	.l-about__panel-grp--r{
		margin-top: fluid( 30, 80, 375, 1024);

		.l-about__panel-img{
			margin-left: auto;
		}

		.l-about__panel-txt{
			top: initial;
			bottom: to-rem(5);
			left: 0;
		}
	}

	.l-about__panel--01{
		width: 100%;
		padding: 0 to-rem(30);
		
		.l-about__panel-txt p:nth-child(2){
			margin-top: to-rem(5);
		}
	}

	.l-about__panel--02{
		.l-about__panel-img{
			margin: to-rem(20) auto;
		}

		.l-about__panel-txt p{
			margin: 0 auto;
		}
	}
}

.l-origin__items{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	width: fluid( 950, 1500, 1025, 2000);
	margin: auto;
	position: relative;
}


.l-origin__img{
	width: fluid( 250, 300, 1025, 2000);
	height: fluid( 250, 300, 1025, 2000);
	overflow: hidden;
	border-radius: 10px;

	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.l-separator{
	transform: translateY(fluid( 215, 255, 1025, 2000));
}

.l-origin__item.p-pop-up.is-show:nth-of-type(1){
	animation-delay: .1s;
}

.l-origin__item.p-pop-up.is-show:nth-of-type(2){
	animation-delay: .4s;
}

.l-origin__item.p-pop-up.is-show:nth-of-type(3){
	animation-delay: .7s;
}

@include media(mb){
	.l-origin__items{
		display: block;
		width: 100%;
		margin: to-rem(60) 0 to-rem(100);
	}

	.l-origin__img{
		width: 100%;
		height: to-rem(300);
		border-radius:0;
	}

	.l-origin__item{
		position: relative;

		&.js-display{
			transform: unset;
		}
	}

	.l-separator{
		@include absolute-position(33.4%, 50%);
		z-index: z-index(1);

		&.separat-under{
			top: to-rem(600);
		}

		& svg path {
			fill: var(--text-inverse);
		}
	}
}