@use "../abstracts/index" as *;

.l-faq{
	margin: 0 auto;
	padding: 0 to-rem(30);
	max-width: to-rem(1300);
	width: 100%;
}

.l-faq__questions{
	padding: to-rem(60) 0;
	border-radius: $radius-md;

    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    li{
        margin: to-rem(10) to-rem(30);
        padding: to-rem(10) to-rem(15);
        color: var(--text-primary);
        border: solid to-rem(1) var(--highlight-00);
        border-radius: $radius-lg;
        transition: $transition-md;
    }
}

.l-faq__answers{
    ul{
        padding: to-rem(20) to-rem(40);
        background-color: var(--bg-muted);
        border-radius: $radius-lg;
        display: flex;
        align-self: center;
        justify-content: center;
    }

    li{
        color: var(--text-inverse);
    }
}

@media (hover:hover){
	.l-faq__questions li:hover{
		background-color: var(--highlight-50p);
	}
}

@include media(mb){
	.l-faq__questions{
		padding: 0;
		
		ul{
			flex-direction: column;
			align-items: center;
			padding: 0;
			-webkit-overflow-scrollbar: touch;

			&::-webkit-scrollbar{
				width: to-rem(3);
			}
			&::-webkit-scrollbar-thumb{
				background-color: var(--bg-muted);
				border-radius: $radius-md;
			}
		}

		li{
			margin: 0 auto;
		}
	}
	
	.l-faq__answers ul{
		border: solid to-rem(1) var(--main-bg-color);
		margin-top: to-rem(30);
	}
}

@include media(sp){
	.l-faq__questions{
		ul{
			align-items: flex-start;
		}

		li{
			margin: 0;
		}
	}
}
