@use "../abstracts/index" as *;
@use "../object/index" as *;

.l-footer{
    margin: fluid( 0, 150, 375, 2000) auto 0;

    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 fluid( 30, 60, 1025, 2000) to-rem(10);
    }
}

@include media(mb){
    .l-footer{
        &__inner{
            flex-direction: column;
            // justify-content: center;
        }
    }
}

@include media(mb3){
    .l-footer{
        &__inner{
            justify-content: center;
            padding: 0 to-rem(30) to-rem(60);
        }
    }
}