@use "../abstracts/index" as *;

.l-site-header{
	@include fixed-position(0, 0, null, null, 900);
	@include slide-in($trs-right, $transition-base);
	width: 100%;

	&.is-open{
		.l-global-nav{
			border-left: dotted 4px var(--accent-green-color);
			overflow-x: scroll;
		}
		
		.l-hamburger span{
			@include hamburger-cross(60px, 60px, 14px, 45deg);
			&:nth-child(3){
				top: 28px;
				left: -10px;
			}
		}
	}
}

.l-inner{
	display: flex;
	justify-content: flex-end;
}

.l-global-nav{
	@include fixed-position(0, 0, null, null, null);
	@include slide-in($trs-right, $transition-base);
	@include height-size(100vh);
	width: 350px;
	padding-top: 100px;
	background-color: var(--main-bg-color);
}

img.l-logo-in-navmenu{
	width: 130px;
	margin: auto;
}

.has-child{
	a{
		font-size: to-rem(20);
		color: var(--accent-green-color);
		font-family: 'utsukushi';
		transition:  $transition-early;
	}
}

.l-sub-nav{
	a{
		color: var(--main-color);
		font-family: 'higuregothic';
		font-size: to-rem(15);
		margin-bottom: 10px;
	}

	li{
		position:  relative;

		a{
			margin-bottom: 7px;
			margin-left: 40px;
			transition: $transition-early;

			&::before{
				content: '';
				// 丸を作るミクシンを作る？
				width: 5px;
				height: 5px;
				border-radius: 5px;
				background-color: var(--title-color);
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				transition: $transition-slow;
			}
		}
	}
}

.l-category-menu{
	margin: 35px 0 20px;
	@include relative-position;
}

a.l-go-top{
	color: var(--main-color);
	font-size: to-rem(15);
}

.l-nav-link-insta{
	img{
		// 違う考え方のheightのほうがいいかも（グローバルなものではない？）
		height: 40px;
		width: auto;
		margin-right: 30px
	}
}

.l-nav-link-facebook{
	height: 40px;
	width: auto;
}

.l-sns-in-menu{
	@include relative-position;

	img{
		height: 30px;
		margin: 28px;
	}
}

.l-sns_innerflex{
	display: flex;
}

@media (hover:hover){
	.l-has-child{
		a{
			&:hover{
				opacity: .5;
			}
		}
	}
	.l-sub-nav{
		li{
			a{
				&:hover{
					color: var(--title-color);
				}
			}
			&:hover{
				a{
					&::before{
						width: 30px;
						height: 1px;
					}
				}
			}
		}
	}
}

.l-nav-list{
	padding: 0 30px;
}

@include media(mb2){
	.l-global-nav{
		width: 99vw;
		padding-top: 45px;
	}
}
@include media(mb2){
	.l-nav-list{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
@include media(sp2){
	img.l-logo-in-navmenu{
		width: 100px;
	}
	.l-global-nav{
		padding-top: 19px;
	}
	.l-category-menu{
		margin: 15px 0 3px;
	}
	.l-has-child a{
		font-size: to-rem(15);
	}
	.l-sub-nav li a{
		margin-bottom: 0;
		font-size: to-rem(13);
	}
	.l-sub-nav li a{
		line-height: 2em;
	}
}