@use "../abstracts/index" as *;

.l-site-header{
	@include fixed-position(0, 0, null, null, 900);
	@include slide-in($translate-right, $transition-lg);
	width: 100%;

	&.is-open{
		.l-global-nav{
			border-left: dotted to-rem(4) var(--primary-00);
			overflow-x: scroll;
		}

		.c-hamburger span{
			@include hamburger-cross(to-rem(60), to-rem(60), to-rem(14), 45deg);
			&:nth-child(3){
				top: to-rem(28);
				left: to-rem(-10);
			}
		}
	}

	&__inner{
		display: flex;
		justify-content: flex-end;
	}
}

.l-global-nav{
	@include fixed-position(0, 0, null, null, null);
	@include slide-in($translate-right, $transition-lg);
	@include height-size(100vh);
	width: to-rem(500);
	padding: fluid( 50, 100, 375, 2000) to-rem(30) 0;
	background-color: var(--bg-primary);

	&__logo{
		width: to-rem(130);
		height: auto;
		margin: auto;
		display: block;
	}
}

.l-nav__list{
	padding: to-rem(30) 0;
}

.l-nav__item{
	& > .l-nav__link{
		font-family: 'kokoro';
		text-align: center;
		transition: $transition-sm;
		margin: fluid( 30, 50, 375, 2000) 0;
		display: block;
	}
}

.l-nav__sns{
	display: flex;
	justify-content: center;
}

.l-nav__sns-link{
	img{
		height: fluid( 20, 30, 375, 2000);
		width: auto;
		margin: 0 to-rem(20);
		transition: $transition-sm;
	}
}

@media (hover:hover){
	.l-nav__item > .l-nav__link{
		&:hover{
			opacity: 0.5;
		}
	}
	.l-nav__sns-link{
		img:hover{
			opacity: 0.5;
		}
	}
}

@include media(mb2){
	.l-global-nav{
		width: 99vw;
	}
}
