@use "../abstracts/index" as *;

.l-loading{
	width: 100vw;
	@include fixed-full(9999);
	background-color: var(--bg-primary);
	display: flex;
	justify-content: center;
	align-items: center;

	&__inner{
		text-align: center;
	}

	&__text{
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: to-rem(20);
		margin-bottom: to-rem(40);

		img{
			height:  to-rem(230);
			margin: to-rem(30);
		}

		span{
			font-family: 'higuregothic';
		}
	}

	&__bar{
		width: 100vw;
		height: to-rem(2);
		overflow: hidden;
	}

	&__progress{
		display: block;
		width: 0%;
		height: 100%;
		background-color: var(--primary-00);
		transition: 1s ease;
	}

	&__count{
		margin-top: to-rem(50);
		font-size: to-rem(25);
		font-family: 'higuregothic';
	}
}

@include media(mb){
	.l-loading__text{
		writing-mode: vertical-rl;
		text-orientation: upright;
		flex-direction: row;
		margin-block: auto;

		img{
			height: to-rem(150);
		}
	}
}