@use "../foundation/index" as *;
@use "../variables/index" as *;

.l-fv{
	width: 100%;
	height: 100vh;
	max-width: 1920px;
	max-height: 1200px;
	margin: 0 auto;
	position: relative;
	transition: $transition-slow;

    svg{
        &.fv-svg{
			width: 233%;
            position: absolute;
            top: 52%;
            left: 63%;
            transform: translate(-50%,-50%);
            z-index: 5;

            opacity: 0;
	        transition:  $transition-base;

            &.is-ready {
                opacity: 1;
            }
        }
    }
}

.l-copy_flex{
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;
	width: 100%;
	padding: 0 2%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	z-index: 9999;
}

.char{
	display: block;
	margin: 0 auto;
	opacity: 0;
	transform: translateY(20px);
	transition: 1s ease;

    &.is-show{
        opacity: 1;
        transform: translateY(0);
		width: 17vh;
		max-width: 145px;

			&:nth-child(2){
                margin-top: 30%;
            }
    }
}

.l-top-logo{
	position: absolute;
	top: 44%;
	left: 50%;
	transform: translate(-50%,-50%);

    img{
        display: none;
    }
}


// .slider{
// 	width: 58%;
// 	max-width: 1334px;
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	transform: translate(-50%,-50%);

// 	.slider_inner{
// 		aspect-ratio: 841 / 598;
// 		overflow: hidden;
// 		position: relative;

// 		&.mask{
// 			mask-image: url(../../images/fv/vector.svg);
// 			mask-size: 100% 100%;
// 			mask-repeat: no-repeat;
// 			mask-position: center;
// 			-webkit-mask-image: url(../../images/fv/vector.svg);
// 			-webkit-mask-size: 100% 100%;
// 			-webkit-mask-repeat: no-repeat;
// 			-webkit-mask-position: center;
			
// 			.slide{
// 				position: absolute;
// 				inset: 0;
// 				width: 100%;
// 				height: 100%;
// 				object-fit: cover;
// 				opacity: 0;
// 				transform: scale(1);
// 				transition: opacity 1.5s ease,transform 8s ease;
// 				z-index: 1;
				
// 				&.slide.slide.is-active{
// 					opacity: 1;
// 					transform: scale(1.08);
// 				}
// 			}
// 		}
// 	}
// }

.lines-flex{
	width:  30%;
	position: absolute;
	top: 80%;
	right: 0;
	z-index: 100;
}

.vegetable{
	position: absolute;
	transform: translate(-50%,-50%);
	z-index: 5;
	opacity: 0;
	animation: vegPop 0.5s ease forwards;
}
.pepper{
	width: 17%;
	top: 10%;
	left: 2%;
}
.corn{
	width: 20%;
	top: 5%;
	left: 90%;
}
.tomat{
	width: 12%;
	top: 64%;
	right: -11%;
}
.spinach{
	width: 25%;
	top: 85%;
	left: 3%;
}
.pepper2,.corn2,.tomat2{
	display: none;
}
.pepper,.pepper2{
	animation-delay: 3s;
}
.corn,.corn2{
	animation-delay: 3.2s;
}
.tomat,.tomat2{
	animation-delay: 3.4s;
}
.spinach,.spinach2{
	animation-delay: 3.6s;
}
@keyframes vegPop{
	0%{
		opacity: 0;
		transform: translate(-50%,-50%) scale(.6);
	}
	70%{
		opacity: 1;
		transform: translate(-50%,-50%) scale(1.05);
	}
	100%{
		opacity: 1;
		transform: translate(-50%,-50%) scale(1);;
	}
}
img.caw{
	width: 100%;
}

// @include media(pc){
// 	.l-fv{
// 		max-height: 900px;
// 	}
// 	.l-copy_flex{
// 		top: 10%;
// 		left: 0;
// 		transform: translate(0,0);
// 	}
// 	.spinach{
// 		top: 97%;
// 		left: 10%;
// 	}
// }

// @include media(pc2){
// 	.l-fv{
// 		max-height: initial;
// 	}
// 	.l-copy__items{
// 		width: 40%;
// 		display: flex;
// 		flex-direction: row-reverse;
// 		justify-content: space-between;
// 		align-items: flex-start;
// 	}
// 	.char{
// 		 &.is-show{
// 			width: 13vh;
// 			&:nth-child(2){
// 				margin-top: 0;
// 			}
// 		}
// 	}
// 	.l-copy_flex{
// 		top: 3%;
// 		left: 0;
// 		transform: translate(0,0);
// 	}
// 	.slider{
// 		width: 65%;
// 		top: 55%;
// 	}
// 	.corn{
// 		display: none;
// 	}
// 	.tomat{
// 		width: 13%;
// 		top: 64%;
// 		left: 115%;
// 	}
// 	.pepper{
// 		top: 65%;
// 		left: -15%;
// 	}
// 	.spinach{
// 		top: 88%;
// 	}
// 	.lines-flex{
// 		top: 75%;
// 	}
// }

// @include media(mb){
// 	.l-top-logo{
// 		top: 30%;
// 	}
// 	.l-top-logo img{
// 		display: block;
// 		width: 65%;
// 		margin: auto;
// 		display: block;
// 	}
// 	.char{
// 		 &.is-show{
// 			width: 10vw;
// 		}
// 	}
// 	.slider{
// 		width: 95%;
// 		top: 65%;
// 	}
// 	.pepper{
// 		top: 3%;
// 		left: 8%;
// 	}
// 	.tomat{
// 		top: 21%;
// 		left: 92%;
// 	}
// 	.lines-flex{
// 		top: 77%;
// 	}
// }

// @include media(mb2){
// 	.l-top-logo{
// 		top: 28%;
// 		left: 50%;
// 		transform: translate(-50%,-50%);
// 	}
// 	.slider{
// 		width: 95%;
// 		top: 67%;
// 	}
// 	.l-fv svg.fv-svg{
// 		transform: translate(-50%,-50%);
// 	}
// 	.char{
// 		&.is-show{
// 			width: 8vh;
// 		}
// 	}
// 	.tomat{
// 		top: -9%;
// 		left: 85%;
// 	}
// 	.pepper{
// 		top: 5%;
// 		left: 9%;
// 	}
// 	.spinach{
// 		top: 93%;
// 		left: 20%;
// 	}
// 	.lines-flex{
// 		width: 35%;
// 		right: 3%;
// 	}
// }

// @include media(sp){
// 	.l-top-logo img{
// 		width: 100%;
// 	}
// 	.char{
// 		&.is-show{
// 			width: 10vw;
// 		}
// 	}
// 	.slider{
// 		width: 140%;
// 	}
// 	.l-fv svg.fv-svg{
// 		width: 240%;
// 	}
// 	.lines-flex{
// 		top: 95%;
// 		right: 13%;
// 		top: 89%;
// 	}
// 	.lines-flex img{
// 		width: 100%;
// 	}
// 	.pepper{
// 		width: 16%;
// 		top: 0;
// 		left: 23%;
// 	}
// 	.tomat{
// 		width: 74px;
// 		left: 79%;
// 	}
// 	.spinach{
// 		width: 25%;
// 		top: 104%;
// 		left: 27%;
// 	}
// }

// @include media(sp2){
// 	.l-top-logo{
// 		top: 27%;
// 		transform: translate(-50%,-50%);
// 	}
// 	.l-top-logo img{
// 		width: 90%;
// 	}
// 	.l-copy__items{
// 		width: 45%;
// 	}
// 	.char{
// 		&.is-show{
// 			width: 10vw;
// 		}
// 	}

// 	.slider{
// 		top: 65%;
// 	}
// 	.pepper{
// 		top: 3%;
// 		left: 22%;
// 	}
// 	.tomat{
// 		width: 65px;
// 		top: 0;
// 		left: 80%;
// 	}
// 	.lines-flex img{
// 		width: 168px;
// 	}
// 	.entory-link-img img{
// 		width: 98%;
// 	}
// }

// @include media(sp3){
// 	.l-top-logo img{
// 		width: 80%;
// 	}
// 	.slider{
// 		width: 120%;
// 	}
// }