@use "../abstracts/index" as *;

@include load-font('higuregothic', 'HigureGothic-Light', 400, normal, (woff2));
@include load-font('kokoro', 'Kokoro', 400, normal, woff2);

.l-interview{
	width: 100%;

    &__item{
        display: flex;
        flex-direction: row-reverse;
    
        &--reverse{
            flex-direction: row;
        }
    }

    &__body{
        width: fluid(350, 450, 769, 2000);
        height: fit-content;
        padding: to-rem(30) to-rem(35);
        background-color: var(--bg-muted);
        border-radius: $radius-sm;
        position: relative;
        z-index: -1;
    }

    &__image{
        position: relative;
    }
}

.l-interview__item--01 .p-member__name{
	margin: to-rem(20) to-rem(4) to-rem(30) to-rem(-4);
}

.l-interview__body{
    padding: to-rem(30) to-rem(40);
}

@include media(mb2){
    .l-interview__image{
        width: 100%;
    }
    .l-interview__body{
        width: 100%;
        height: auto;
        border-radius: 0;
        padding: to-rem(30);
    }
}
