@use "../abstracts/index" as *;

.l-member-list{
	margin: 0 0 fluid( 150, 250, 1000, 2000);
    position: relative;

    &__slider{
        display: flex;
        overflow-x: hidden;

        &--rl{
            display: flex;
            animation: loopslider-rl 40s linear infinite;
        }
        &--lr{
            display: flex;
            animation: loopslider-lr 40s linear infinite;
        }
    }

    &__row{
        display: flex;
        flex: wrap;
        justify-content: center;
        gap: to-rem(5);
        margin-right: to-rem(5);
    }
}
