@use "../abstracts/index" as *;

.l-interview{
	width: 100%;

    &__item{
        display: flex;
        flex-direction: row-reverse;
    
        &--reverse{
            flex-direction: row;
        }
    }

    &__body{
        width: fluid(350, 450, 769, 2000);
        height: fit-content;
        padding: to-rem(30) to-rem(40);
        background-color: var(--bg-muted);
        border-radius: $radius-md;
        position: relative;
        z-index: -1;
    }

    &__image{
        position: relative;
    }

    &__item--01 .p-member__name{
        margin: to-rem(20) to-rem(4) to-rem(30) to-rem(-4);
    }
}


@include media(mb2){
    .l-interview{
        &__image{
            width: 100%;
        }

        &__body{
            width: 100%;
            height: auto;
            border-radius: 0;
            padding: to-rem(30);
        }
    }
}
