@use "../abstracts/index" as *;


@include load-font('higuregothic', 'HigureGothic-Light', 400, normal, (woff2));
@include load-font('kokoro', 'Kokoro', 400, normal, woff2);

.l-interview{
	width: 100%;

    &__item{
        display: flex;
        flex-direction: row-reverse;
    
        &--reverse{
            flex-direction: row;
        }
    }

    &__body{
        width: 450px;
        height: fit-content;
        padding: to-rem(30) to-rem(35);
        background-color: var(--bg-muted);
        border-radius: $radius-sm;
        position: relative;
        z-index: -1;
    }

    &__image{
        position: relative;
    }
}

.p-member__farm,
h3.p-member__name,
.p-member__name-end,
.l-interview__body p,
[class*="p-tag--"]{
	font-family: 'kokoro';
    // letter-spacing: to-rem(0.05);
	color: var(--text-inverse);
}

.p-member__farm{
	font-size: to-rem(20);
}

h3.p-member__name{
	font-size: fluid( 24, 40, 375, 2000);
	letter-spacing: to-rem(-5);
	margin: to-rem(20) 0 to-rem(30);
}

.l-interview__item--01 .p-member__name{
	margin: to-rem(20) to-rem(4) to-rem(30) to-rem(-4);
}

.p-member__name-end{
	font-size: fluid( 18, 30, 375, 2000);
	letter-spacing: to-rem(-5);
}

p.p-member__intro{
	font-family: 'higuregothic';
    line-height: 30px;
}

[class*="p-tag--"]{
	position: absolute;
	background-color: var(--bg-muted);
    @include load-font('kokoro', 'Kokoro', 400, normal, woff2);
	font-size: to-rem(30);
	padding: to-rem(9);
	border-radius: $radius-sm;
}

.p-tag--vertical{
	writing-mode: vertical-rl;
    text-orientation: upright;
}

// .p-tag--01a{ top: to-rem(-30); left: 373px; }
// .p-tag--01b{ top: to-rem(30);  left: 315px; }
// .p-tag--02a{ top: to-rem(-35); right: -146px; }
// .p-tag--02b{ top: to-rem(20);  right: -264px; }
// .p-tag--03a{ top: to-rem(-80); left: 434px; text-orientation: upright; }
// .p-tag--03b{ top: to-rem(-22); left: 375px; }
// .p-tag--04a{ bottom: to-rem(33); left: to-rem(-21); }
// .p-tag--04b{ bottom: to-rem(-26); left: to-rem(57); }
.p-tag--01a{ top: to-rem(-30); left: to-rem(373);}
.p-tag--01b{ top: to-rem(30);  left: to-rem(315);}
.p-tag--02a{ top: to-rem(-30); right: to-rem(330);}
.p-tag--02b{ top: to-rem(20);  right: to-rem(385);}
.p-tag--03a{ top: to-rem(-30); left: to-rem(385);}
.p-tag--03b{ top: to-rem(100); left: to-rem(25);}
.p-tag--04a{ top: to-rem(-30); left: to-rem(10);}
.p-tag--04b{ top: to-rem(30); left: to-rem(57);}

.p-member__face{
    width: 450px;
    height: 450px;
    overflow: hidden;
    border-radius: $radius-sm;
    position: relative;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.p-member__sns{
	width: to-rem(50);
	height: to-rem(50);
	margin: auto;
	background-color: var(--bg-primary);
	border-radius: $radius-full;
	position: absolute;
	bottom: to-rem(10);
	right: to-rem(10);

	img{
		width: auto;
		height: to-rem(30);
		margin: to-rem(10);
	}
}

// .l-interview__item--01{
// 	.l-interview__body{
// 		width: 424px;
// 		top: to-rem(120);
// 		right: to-rem(-25);
// 		padding: to-rem(30) to-rem(40);
// 	}
// }
.l-interview__body{
    padding: to-rem(30) to-rem(40);
}
.p-comment01{
    // width: 424px;
    // top: to-rem(120);
    // right: to-rem(-25);
    transform: translate(10px,100px);
}
.p-comment02{
    transform: translate(-10px,100px);
}
.p-comment03{
    transform: translate(10px,60px);
}
.p-comment04{
    transform: translate(-10px,40px);
}


// swiper slider
.c-member-slider{
	overflow: visible !important;

	.swiper-wrapper{
		height: auto;
        margin: 100px auto 110px;
	}

	.swiper-slide{
		display: flex;
		justify-content: center;
		width: auto;
		overflow: visible;
		opacity: 0.7;
		transform: scale(0.8);
		transition: transform 600ms ease, opacity 600ms ease;

		&.swiper-slide-active{
			opacity: 1;
			transform: scale(1);
		}
	}

	.swiper-btn-prev,
	.swiper-btn-next{
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: to-rem(180);
		height: to-rem(180);
		background-repeat: no-repeat;
		background-position: center;
		background-color: transparent;
		border: none;
		cursor: pointer;
		z-index: z-index(100);

		&::after{
			content: none;
		}
	}

	.swiper-btn-prev{
		left: 3%;
		background-image: url(../images/main-img/interviews/arrow-prev.svg);
		background-size: 100%;
	}

	.swiper-btn-next{
		right: 3%;
		background-image: url(../images/main-img/interviews/arrow-next.svg);
		background-size: 100%;
	}

	.swiper-pagination{
		position: relative;
		z-index: z-index(100);
		margin-top: to-rem(5);
		gap: to-rem(20);
		display: flex;
		justify-content: center;

		.swiper-pagination-bullet{
			width: to-rem(40);
			height: to-rem(40);
			font-size: to-rem(20);
			color: var(--text-primary);
			background-color: var(--bg-primary);
			border-radius: 0;
			opacity: .5;
			display: flex;
			align-items: center;
			justify-content: center;

			&.swiper-pagination-bullet-active{
				color: var(--highlight-00);
				border-bottom: solid 1px var(--highlight-00);
				background-color: var(--bg-primary);
				opacity: 1;
			}
		}
	}
}
