@use "../abstracts/index" as *;

.l-member-interview__inner{
	width: 100%;
}

.l-member-interview__item{
	display: flex;
	flex-direction: row-reverse;

	&--reverse{
		flex-direction: row;
	}
}

.p-member__face img{
	width: 430px;
	border-radius: $radius-md;
}

.l-member-interview__body{
	height: fit-content;
	padding: to-rem(30) to-rem(35);
	background-color: var(--bg-overlay);
	border-radius: $radius-md;
	position: relative;
	z-index: -1;
}

.p-member__farm,
h3.p-member__name,
.p-member__name-end,
.l-member-interview__body p,
.p-member__subtitle{
	color: var(--sub-color);
	font-family: 'aosagi';
	font-weight: 100;
}

.p-member__farm{
	font-size: to-rem(20);
}

h3.p-member__name{
	font-size: to-rem(50);
	letter-spacing: -.08em;
	margin: to-rem(20) 0 to-rem(30);
}

.l-member-interview__item--01 .p-member__name{
	margin: to-rem(20) to-rem(4) to-rem(30) to-rem(-4);
}

p.p-member__intro{
	font-family: 'higuregothic';
	font-size: to-rem(17);
	letter-spacing: .2em;
	line-height: to-rem(30);
	opacity: .9;
}

.p-member__name-end{
	font-size: to-rem(40);
	letter-spacing: -.2em;
}

.p-member__subtitle{
	position: absolute;
	background-color: var(--bg-overlay);
	font-family: 'kokoro';
	font-size: to-rem(30);
	padding: to-rem(9);
	border-radius: $radius-md;

	&--vertical{
		writing-mode: vertical-rl;
	}
}

.l-member-interview__image{
	position: relative;
}

p.p-member__sns{
	width: to-rem(50);
	height: to-rem(50);
	margin: auto;
	background-color: var(--bg-primary);
	border-radius: $radius-full;
	position: absolute;
	bottom: to-rem(7);
	right: to-rem(7);

	img{
		width: auto;
		height: to-rem(30);
		margin: to-rem(10);
	}
}

// member 01
.l-member-interview__item--01{
	.l-member-interview__body{
		width: 424px;
		top: to-rem(120);
		right: to-rem(-25);
		padding: to-rem(30) to-rem(40);
	}

	.p-member__subtitle:nth-of-type(1){
		top: to-rem(-30);
		left: 373px;
	}

	.p-member__subtitle:nth-of-type(2){
		top: to-rem(30);
		left: 315px;
	}
}

// member 02
.l-member-interview__item--02{
	.l-member-interview__body{
		width: 397px;
		top: to-rem(100);
		left: to-rem(-24);
		padding: to-rem(30) to-rem(25) to-rem(30) to-rem(45);
	}

	.p-member__subtitle:nth-of-type(1){
		top: to-rem(-35);
		right: -146px;
	}

	.p-member__subtitle:nth-of-type(2){
		top: to-rem(20);
		right: -264px;
	}
}

// member 03
.l-member-interview__item--03{
	.l-member-interview__body{
		width: 430px;
		top: to-rem(-45);
		left: to-rem(25);
		padding: to-rem(30) to-rem(45) to-rem(30) to-rem(35);
	}

	figure img{
		width: 500px;
		transform: translateY(to-rem(13));
	}

	.p-member__subtitle:nth-of-type(1){
		top: to-rem(-80);
		left: 434px;
		text-orientation: upright;
	}

	.p-member__subtitle:nth-of-type(2){
		top: to-rem(-22);
		left: 375px;
	}
}

// member 04
.l-member-interview__item--04{
	.l-member-interview__body{
		width: 430px;
		top: to-rem(-40);
		left: to-rem(-25);
		padding: to-rem(30) to-rem(35) to-rem(30) to-rem(45);
	}

	figure img{
		width: 500px;
	}

	.p-member__subtitle:nth-of-type(1){
		bottom: to-rem(33);
		left: to-rem(-21);
	}

	.p-member__subtitle:nth-of-type(2){
		bottom: to-rem(-26);
		left: to-rem(57);
	}
}

// slick slider
.c-member-slider{
	.slick-slide > .l-member-interview__item{
		display: flex !important;
	}

	.slick-slide{
		display: flex;
		justify-content: center;
	}

	.slick-prev::before,
	.slick-next::before{
		content: none;
	}

	.slick-prev,
	.slick-next{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: to-rem(180);
		height: to-rem(180);
		background-repeat: no-repeat;
		background-position: center;
		background-size: to-rem(24) to-rem(24);
		background-color: transparent;
		border: none;
		cursor: pointer;
		z-index: z-index(10);
	}

	.slick-prev{
		left: 3%;
		background-image: url(../images/main-img/arrow-l.webp);
		background-size: 100%;
	}

	.slick-next{
		right: 3%;
		background-image: url(../images/main-img/arrow-r.webp);
		background-size: 100%;
	}

	.slick-dots{
		position: static;
		margin-top: to-rem(5);
		gap: to-rem(20);
		display: flex;
		justify-content: center;

		li{
			width: auto;
			height: auto;
			margin: 0;

			button{
				width: to-rem(40);
				height: to-rem(40);
				font-size: to-rem(20);
				color: var(--text-primary);
				background-color: var(--bg-primary);
				border: none;
				cursor: pointer;
				opacity: .5;

				&::before{
					content: '';
				}
			}

			&.slick-active button{
				color: var(--highlight-00);
				border-bottom: solid 1px var(--highlight-00);
				opacity: 1;
			}
		}
	}
}

.slick-list{
	padding: to-rem(80) 0 to-rem(50);
}
