@use "../../abstracts/index" as *;

.p-about__lead{
	line-height: fluid( 30, 50, 1024, 2000);
	text-align: center;

	& span.en-font{
		font-size: larger;
	}

	a{
		display: inline;
		color: var(--highlight-00);
	}
}

.p-heart-svg{
	width: 100vw;
	height: auto;
	z-index: z-index(-1);
	pointer-events: none;
}

.p-heart-svg path{
	stroke-dasharray: 8000;
	stroke-dashoffset: 8000;
	transition: stroke-dashoffset 5s ease;
}

.p-origin__title{
	font-size: fluid( 20, 30, 375, 2000);
	line-height: fluid( 30, 40, 375, 2000);
	margin: to-rem(60) 0 fluid( 20, 30, 1025, 2000);
	font-family: 'kokoro';
	letter-spacing: 0;
	white-space: nowrap;
	text-align: center;
}

.p-pop-up{
	opacity: 0;
	transform: translateY(40px) scale(.7);
}

.p-pop-up.is-show{
	animation: popUp 0.9s cubic-bezier(.34,1.56,.64,1) forwards;
}


@include media(mb){
	.l-origin__item .p-origin__title{
		@include absolute-position(50%, 50%); 
		z-index: z-index(1);
		background-color: var(--bg-overlay);
		padding: to-rem(3) to-rem(10);
		margin: 0;
		border-radius: $radius-sm;
	}

	.p-about__lead{
		text-align: left;

		br{
			display: none;
		}
	}

	.p-pop-up{
		transform: unset;
		opacity:1;
		
		&.is-show{
			animation: unset;
		}
	}
}