@use "../../abstracts/index" as *;

.p-faq__title{
	position: relative;
    display: flex;
    align-items: baseline;

	// margin-bottom: 100px;

    // img{
    //     width: auto;
    //     height: 105px;
    //     margin: 0 768px 0 0;
    // }

    // &::before{
    //     content: '';
    //     background-image: url(../images/main-img/faq/qand.webp);
    //     background-size: contain;
    //     background-position: center;
    //     background-repeat: no-repeat;
    //     width: 200px;
    //     height: 80px;
    //     position: absolute;
    //     @include absolute-position(50%,42%);
    // }

    &-decoration{
        position: relative;

        img{
            width: auto;
            height: fluid( 50, 80, 375, 2000);
            @include absolute-position(0,30%);
        }
    }

    span{
        &.initials{
            font-size: fluid( 35, 50, 375, 2000);
            font-family: 'kokoro';
            color: var(--text-title);
        }
        &.en-title{
            font-size: fluid(25, 40, 415, 2000);
            letter-spacing: 0em;
            margin-left: 0;
            color: var(--text-primary);
            font-family: 'kokoro';
            margin-left: 0;
        }
        &.restore{
            font-size:  fluid(15, 25, 415, 2000);
            letter-spacing: 0;
            color: var(--text-primary);
            font-family: 'higuregothic';
        }
    }
}

.p-faq__svg{
	width: fluid( 100, 150, 375,2000);
	// position: absolute;
	// top: -120px;
	// left: 50%;
	// transform: translateX(-191%);
	// z-index: -1;

    path{
        stroke-dasharray: 2000;
        stroke-dashoffset: 2000;
    }

    &.is-show path{
        @include transition(4.5s, ease);
        stroke-dashoffset: 0;
    }
}

.p-faq__question{
	cursor: pointer;

    &.is-active{
        font-weight: 700;
        color: var(--text-inverse);
        background-color: var(--highlight-00);
    }
}

.p-faq__answer{
        display: none;

        &.is-show{
            display: flex;
            align-self: center;
            justify-content: center;
        }
    }