@use "../../abstracts/index" as *;

.p-bod-svg{
    width: 100%;

    path{
        stroke-dasharray: 3000;
        stroke-dashoffset: 3000;
    }

    &.is-show path{
        @include transition( 10s, ease);
        stroke-dashoffset: 0;
    }
}

.p-footer__logo img{
	width: fluid(130, 180, 375, 2000);
	margin: 0 auto;
}

.p-footer__nav{
    &-list{
        width: fluid( 700, 800, 769, 2000);
        margin: fluid( 30, 60, 375, 2000) auto;
        display: flex;
        justify-content: space-between;
    }
    
    &-item{
        width: to-rem(220);

        padding-left: to-rem(30);
        border-left: solid to-rem(1) var(--text-muted);
        &:first-child{
            border: none;
        }


        li{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;

            justify-content: space-between;
            white-space: nowrap;

            a{
                font-family: 'higuregothic';
                font-size: fluid( 13, 15, 1025, 2000);
                line-height: fluid( 15, 17, 1025, 2000);
                transition: $transition-md;
                display: flex;
                align-items: flex-start;
            }
        }

        a{
            transition: $transition-md;
        }

        &--insta img,
        &--facebook img{
            width: to-rem(15);
            margin: to-rem(2) to-rem(10) 0 0;
            transition: $transition-md;
        }
    }

    &-category{
        margin: 0 0 to-rem(30);
        font-family: 'kokoro';
    }
}

.p-footer__sub-nav{
    display: flex;
    flex-direction: column;
    gap: fluid( 12, 20, 72, 2000);
}

.p-footer__entry-link{
    display: flex;
    align-items: center;
    justify-self: center;

    a{
        display: block;
        width: fit-content;

        p{
            font-size: fluid( 13, 15, 550, 2000);
            color: var(--text-inverse);
            background-color: var(--highlight-00);
            border: solid to-rem(1) var(--bg-primary);
            font-family: 'kokoro';
            letter-spacing: 0;
            padding: to-rem(10) to-rem(20);
            margin: to-rem(30) auto;
            border-radius: $radius-full;
            transition: $transition-md;
            display: flex;
            align-items: center;

            svg{
                width: auto;
                height: to-rem(8);
                margin: 0 to-rem(4) 0 to-rem(12);
                transition: $transition-md;
            }
        }
    }
}

.p-footer__copyright{
	font-size: fluid( 10, 13, 375, 2000);
	color: var(--text-inverse);
	background-color: var(--text-title);
	text-align: center;
	padding: to-rem(10);
}

@media (hover:hover){
	.p-footer__nav-item a:hover,
    .p-footer__nav-item li a:hover{
		opacity: 0.5;
	}

    .p-footer__entry-link a:hover p{
        color: var(--highlight-00);
        background-color: var(--bg-primary);
        border: solid to-rem(1) var(--highlight-00);
    }

    .p-footer__entry-link a:hover svg{
        margin: 0 0 0 to-rem(16);
    }

    .p-footer__entry-link a:hover line{
        stroke: var(--highlight-00);
    }
}

@include media(mb){
    .p-footer__nav-list{
        width: fit-content;
        margin: 0 auto;
	}

    .p-footer__nav-item{
        margin: to-rem(30) 0 to-rem(60);

        a.p-footer__nav-category{
        font-size: to-rem(15);
        }
    }
}

@include media(mb3){
    .p-footer__nav-list{
        flex-direction: column;
    }

    .p-footer__nav-item{
        width: auto;
        padding: 0;
        margin: to-rem(30) 0 0;
        border: none;
    }

    a.p-footer__nav-category{
    font-size: to-rem(15);
    margin: to-rem(20) 0;
    }

    .p-footer__sub-nav{
        padding-left: to-rem(30);
        border-left: solid to-rem(1) var(--text-muted);
    }

    .p-footer__entry-link a p{
        margin: to-rem(30) auto 0;
    }
}