@use "../../abstracts/index" as *;

.p-member-list__lead{
    margin: fluid( 30, 60, 1000, 2000) auto fluid( 20, 50, 1000, 2000);
    text-align: center;
    padding: 0 to-rem(30);
}

@include media(mb3){
	.p-member-list__lead{
        text-align: left;
	}
}