@function fluid($min, $max, $minViewport, $maxViewport) {
  $vwScale: ($max - $min) / ($maxViewport - $minViewport);
  $baseOffset: $min - $minViewport * $vwScale;
  
  $minRem: $min / 16;
  $maxRem: $max / 16;
  $baseOffsetRem: $baseOffset / 16;
  $vwScaleRem: $vwScale * 100;
  
  @return clamp(#{$minRem}rem, #{$baseOffsetRem}rem + #{$vwScaleRem}vw, #{$maxRem}rem);
}