@use "sass:math";
@use "sass:map";
@use "../mixins/breakpoint" as *;


// pxをremに変換する関数
// $baseUnitSize: 16px;

// @function to-rem($pxValue) {
//     $strip-pxValue: math.div($pxValue, ($pxValue * 0 + 1));
//     $strip-baseSize: math.div($baseUnitSize, ($baseUnitSize * 0 + 1));
    
//     @return math.div($strip-pxValue, $strip-baseSize) * 1rem;
// }

// 単位をなくす
@function strip-unit($value) {
    @return math.div($value, ($value * 0 + 1));
}

// rem変換
$base-px: 16px;

@function to-rem($px) {
    @return math.div(strip-unit($px), strip-unit($base-px)) * 1rem;
}

// vw変換
@function to-vw($px, $mode) {
    $viewport: map.get($breakpoints, $mode);
    @return math.div(strip-unit($px), strip-unit($viewport)) * 100vw;
}

// %変換
@function pc($px, $mode) {
    $viewport: map.get($breakpoints, $mode);
    $base: if($viewport, $viewport, $mode);
    @return math.div(strip-unit($px), strip-unit($base)) * 100%;
}
// width: pc(300px, "pc"); 1440pxが基準になる
// width: pc(200px, 800px); 800pxが基準になる


// --- 実際の使い方の例 ---
// .sample {
    // font-size: rem(20px);   1.25rem
//     width: vw(300px);   80vw
//     margin-left: pc(10px, 100px);  10%
// }
