@mixin fade-in-up($dist: 0, $duration: 1s){
    opacity: 0;
    transform: translateY($dist);
    transition: $duration ease;

    &.is-ready, &.is-show{
        opacity: 1;
        transform: translateY(0);
    }
}