@mixin flex-center-absolute($top-a: 50%, $left-a: 50%){
    position: absolute;
    top: $top-a;
    left: $left-a;
    transform: translate(-50%,-50%);
}

@mixin flex-relative($top-r: 0, $left-r: 0){
    position: relative;
    top: $top-r;
    left: $left-r;
}