@use "../variables/z-index" as *;

@mixin absolute-position($top-a: 50%, $left-a: 50%){
    position: absolute;
    top: $top-a;
    left: $left-a;
    transform: translate(-50%,-50%);
}

@mixin relative-position($top-r: 0, $left-r: 0){
    position: relative;
    top: $top-r;
    left: $left-r;
}

@mixin fixed-position($top: null, $right: null, $bottom: null, $left: null, $z: null){
    position: fixed;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    @if $z{ z-index: z-index($z);}
}

@mixin fixed-full($z: null){
    @include fixed-position(0, 0, 0, 0, $z)
}