:root{
	--bg-primary:#fffef8;
	--bg-secondary:#f8fafa;
	--bg-overlay:#ffffffa9;
	--bg-accent:#ea773d66;
	--bg-muted:#88a890;
	--shadow-base:#06280627;
}
:root{
	--text-primary:#444943;
	--text-inverse:#fffefb;
	--text-title:#658C6F;
	--primary-00:#309E66;
	--highlight-00:#ef9365;
	--text-muted:#b5b5b5;
}