@use "sass:map";
@use "sass:list";

@mixin load-font( $name, $file, $weight: 400, $style: normal, $exts: woff2){
    $src: ();

    $formats: (
        woff2: 'woff2',
        woff: 'woff',
        otf: 'opentype',
        ttf: 'truetype'
    );

    @each $ext in $exts{
        $format: map-get($formats, $ext);
        $src: append($src, url("../../../font/#{$file}.#{$ext}") format('#{$format}'), comma);
    }

    @font-face{
        font-family: $name;
        font-weight: $weight;
        font-style: $style;
        src: $src;
    }
}

@include load-font('higuregothic', 'HigureGothic-Light', 400, normal, (woff2));
@include load-font('aosagi', 'YDWaosagi', 400, normal, woff2);
@include load-font('utsukushi', 'UtsukushiFONT', 400, normal, woff2);
@include load-font('kokoro', 'Kokoro', 400, normal, woff2);
