$transition-sm: .2s ease;
$transition-md: .3s ease;
$transition-lg: .4s ease;

@mixin transition($duration: 1s, $easing: ease) {
    transition: $duration $easing;
}

// @mixin transition($duration: .3s, $easing: ease, $property: all) {
//     transition: $property $duration $easing;
// }
