@use "../../abstracts/index" as * ;

.c-fixed-link{
	@include fixed-position(null, 6px, 0, null, 1000);
	@include slide-in($translate-right, $transition-lg);

	img{
		width: fluid(150, 300, 375, 2000);
	}

	&.is-show{
		pointer-events: auto;
	}

	&.is-hide{
		transform: translateX(105%);
		pointer-events: none;
	}
}
