.c-fixed-link{
	position: fixed;
	bottom: 0;
	right: 6px;
	z-index: 100;
	opacity: 0;
	transform: translateX(100%);
	pointer-events: none;
	transition: .4s ease;
	width: 250px;
	height: 170px;
	background-image: url(../../../images/fv/caw.webp);
	background-size: 100%;
	background-position: left top;
	background-repeat: no-repeat;

	&.is-show{
		opacity: 1;
		transform: translateX(0);
		pointer-events: auto;
	}

	&.is-hide{
		opacity: 0;
		pointer-events: none;
	}
}