@use "../../variables/color" as * ;

.hamburger{
	width: 60px;
	height: 60px;
	cursor: pointer;
	position: relative;
	top: 20px;
	right: 24px;
	z-index: 1100;
	background: none;
	border: none;

	span{
		position: absolute;
		left: 0;
		width: 60px;
		height: 1px;
		background-color: $accent-green-color;
		transition: $transition-base;

		&:nth-child(1){
			top: 0;
			left: -9px;
			width: 70px;
		}
		&:nth-child(2){
			top: 14px;
			width: 60px;
		}
		&:nth-child(3){
			top: 28px;
			left: 10px;
			width: 50px;
		}
	}
}

.nav-list{
	padding: 0 30px;
}