@use "../../abstracts/index" as * ;

.c-hamburger{
	width: to-rem(60);
	height: to-rem(60);
	cursor: pointer;
	@include relative-position(to-rem(20),initial);
	right: to-rem(24);
	z-index: z-index(1000);
	background: none;
	border: none;

	span{
		position: absolute;
		left: 0;
		@include hamburger-lines(to-rem(60),1px,var(--primary-00));
		@include hamburger-lines-init(
			to-rem(70), to-rem(60), to-rem(50),
			0, to-rem(14), to-rem(28),
			to-rem(-9), 0, to-rem(10)
		);
	}
}