@use "../../abstracts/index" as * ;

.l-hamburger{
	width: 60px;
	height: 60px;
	cursor: pointer;
	@include relative-position(20px,initial);
	right: 24px;
	z-index: z-index(1000);
	background: none;
	border: none;

	span{
		position: absolute;
		left: 0;
		@include hamburger-lines(60px,1px,var(--accent-green-color));
		@include hamburger-lines-init(
			70px, 60px, 50px,
			0, 14px, 28px,
			-9px, 0, 10px
		);
	}
}