@use "../../abstracts/index" as *;

.c-member-card{
	width: fluid( 300, 350,375, 2000);
	margin-bottom: to-rem(5);
	padding: fluid( 20, 25, 375, 2000);
    gap: to-rem(10);
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	transition: $transition-md;
	border-radius: $radius-lg;
	background-color: var(--card-color);

    & p{
        font-size: fluid( 13, 15, 375, 2000);
        color: var(--text-inverse);
        display: flex;
        align-items: flex-start;
    }

    &__head{
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__face img{
        display: block;
        height: fluid( 75, 90, 375, 2000);
        @include absolute-position( fluid( 36, 45, 375, 2000), fluid( 218, 257, 375, 2000));
        border-radius: $radius-full;
    }

    &__sns{
        @include absolute-position( fluid( 60, 80, 375, 2000), fluid( 250, 290, 375, 2000));
        width: fluid( 27, 30, 375, 2000);
        height: fluid( 27, 30, 375, 2000);
        border-radius: $radius-full;
        background-color: var(--bg-primary);
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            width: fluid( 28, 30, 375, 2000);
            height: fluid( 28, 30, 375, 2000);
            padding: to-rem(7);
            display: block;
        }
    }

    &__cap{
        display: inline-block;
        font-size: fluid( 11, 13, 375, 2000);
        line-height: fluid( 18, 20, 375, 2000);
        background-color: var(--bg-primary);
        color: var(--card-color);
        padding: to-rem(0) to-rem(10) to-rem(2);
        text-align: center;
        border-radius: $radius-full;
        margin-right: to-rem(12);
    }    
}

p.c-member-card__farm{
    font-family: 'kokoro';
    font-size: fluid( 15, 18, 375, 2000);
    letter-spacing: -0.01rem;
    margin-bottom: to-rem(5);
}

p.c-member-card__voice{
    background-color: var(--bg-primary);
    height: stretch;
    padding: fluid( 5, 8, 375, 2000) fluid( 8, 10, 375, 2000);
    color: var(--text-primary);
    margin-top: to-rem(5);
    border-radius: $radius-md;
}
