@use "../../abstracts/index" as *;

.js-display{
	overflow: hidden;
    &>*{
        transform: translateY(120%);
        transition: 0.9s cubic-bezier(.2,.8,.2,1);
    }

    &.is-show>*{
        transform: translateY(0);
    }
}

.js-split{
    span{
        display: inline-block;
        line-height: 1.2;
		opacity: 0;
		transform: translateY(20px);
		filter: blur(6px);
	}

	&.is-show span{
        animation: charUp 0.6s ease forwards;
		animation-delay: var(--delay);
	}
}

.scroll-svg.is-show path{
	stroke-dashoffset: 0;
}

.svg-area{
	position: absolute;
	inset: 0;
	overflow: hidden;
	pointer-events: none;
	z-index: -1;
}

.contents_inner{
	overflow-x: visible;
	position: relative;
}

.from-left{
	transform: translateX(-100vw);
}

.is-show .from-left{
	animation: slideIn 4s ease-out forwards;
}