@use "../../foundation/index" as *;
@use "../../variables/index" as *;

.slider{
	width: 58%;
	max-width: 1334px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	.slider_inner{
		aspect-ratio: 841 / 598;
		overflow: hidden;
		position: relative;

		&.mask{
			mask-image: url(../../../images/fv/vector.svg);
			mask-size: 100% 100%;
			mask-repeat: no-repeat;
			mask-position: center;
			-webkit-mask-image: url(../../../images/fv/vector.svg);
			-webkit-mask-size: 100% 100%;
			-webkit-mask-repeat: no-repeat;
			-webkit-mask-position: center;
			
			.slide{
				position: absolute;
				inset: 0;   
				width: 100%;
				height: 100%;
				object-fit: cover;
				opacity: 0;
				transform: scale(1);
				transition: opacity 1.5s ease,transform 8s ease;
				z-index: 1;
				
				&.slide.slide.is-active{
					opacity: 1;
					transform: scale(1.08);
				}
			}
		}
	}
}

@include media(mb){
    .slider{
        width: 95%;
        top: 65%;
    }
}
@include media(mb2){
    .slider{
        width: 95%;
        top: 67%;
    }
}
@include media(sp){
    .slider{
        width: 140%;
    }
}
@include media(sp2){
    .slider{
        top: 65%;
    }
}
@include media(sp3){
    .slider{
        width: 120%;
    }
}

